*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  color: #000;
  background: #fff;
  font-size: 16px;
  font-family: "Raleway", "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a,
a:link,
a:active,
a:hover {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s linear;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

i {
  transition: all 0.2s linear;
}

ul,
li,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.section {
  padding: 100px 0;
}
.section--dark-bg {
  background: #262626;
}
.section--clients-bg {
  background: url(../img/backgrounds/clients.png) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 300px;
}
.section__header {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.section__header .section__title {
  color: #262626;
  font-size: 30px;
  font-family: "Raleway-Bold", sans-serif;
  text-transform: capitalize;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .section__header .section__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .section__header .section__title {
    font-size: 22px;
    margin-bottom: 14px;
  }
}
@media (max-width: 767px) {
  .section__header .section__title {
    font-size: 30px;
    margin-bottom: 18px;
  }
}
@media (max-width: 575px) {
  .section__header .section__title {
    font-size: 26px;
    margin-bottom: 14px;
  }
}
.section__header .section__text {
  color: #505050;
  font-size: 16px;
  font-family: "Lato-Bold", sans-serif;
  line-height: 1.4;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .section__header .section__text {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .section__header .section__text {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .section__header .section__text {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .section__header .section__text {
    font-size: 12px;
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  color: #fff;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  background-color: #000;
  line-height: 1;
  padding: 15px 35px;
}
.btn.btn-primary {
  background-color: #ff0036;
}
.btn.btn-primary:hover {
  background-color: #b30026;
}
.btn.btn.btn-dark {
  background-color: #262626;
}
.btn.btn.btn-dark:hover {
  background-color: #ff0036;
}
.btn.btn.btn-gray {
  background-color: #505050;
}
.btn.btn.btn-gray:hover {
  background-color: #ff0036;
}

.red {
  color: #ff0036;
}

.white {
  color: #fff;
}

.gray {
  color: #a4a4a4;
}

.red-bg {
  background-color: #ff0036;
}

.line {
  position: relative;
  margin: 0 auto;
}
.line hr {
  display: block;
  position: absolute;
  bottom: -109px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 515px;
  height: 1px;
  background-color: #262626;
  border: 0;
}
.line .hexagon {
  width: 20px;
  position: absolute;
  left: 50%;
  bottom: -110px;
  z-index: 1;
  transform: translate(-50%, 0);
}
.line.line-red hr {
  background-color: #ff0036;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/static/Raleway-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url(../fonts/Raleway/static/Raleway-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Raleway-Light";
  src: url(../fonts/Raleway/static/Raleway-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url(../fonts/Raleway/static/Raleway-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url(../fonts/Raleway/static/Raleway-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato/Lato-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Lato-Black";
  src: url(../fonts/Lato/Lato-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato/Lato-Light.ttf) format("truetype");
}
.nav {
  width: 100%;
  position: fixed;
  background-color: #000;
  box-shadow: 0px 9px 40px -13px rgba(0, 0, 0, 0.75);
  transform: translate3d(0, 0, 0);
  z-index: 1000;
}
.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
}
.nav__logo {
  display: flex;
  align-self: flex-start;
  max-width: 245px;
}
.nav__img {
  max-width: 100%;
  height: auto;
}
.nav__menu {
  display: none;
}
.nav__close {
  display: none;
  font-size: 24px;
  color: #fff;
  background: #ffffff00;
  padding: 10px 10px 0 0;
  margin-left: auto;
}
.nav__list {
  display: block;
  max-width: 824px;
  text-transform: uppercase;
  list-style-type: none;
}
.nav__list-item {
  display: inline-block;
  margin-right: 30px;
}
.nav__list-item:last-child {
  margin-right: 0;
}
.nav__list-link, .nav__list-link:link {
  display: inline-block;
  position: relative;
  color: #a4a4a4;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.nav__list-link:hover, .nav__list-link:active, .nav__list-link.active, .nav__list-link:link:hover, .nav__list-link:link:active, .nav__list-link:link.active {
  color: #fff;
}
.nav__list-link::after, .nav__list-link:link::after {
  content: "";
  display: block;
  opacity: 0;
  width: 30px;
  height: 3px;
  background-color: #ff0036;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: all 0.2s linear;
}
.nav__list-link:hover::after, .nav__list-link:active::after, .nav__list-link.active::after, .nav__list-link:link:hover::after, .nav__list-link:link:active::after, .nav__list-link:link.active::after {
  opacity: 1;
}
.nav__overlay {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: #000;
  transition: all 0.3s ease;
  opacity: 0.7;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 70vh;
  min-height: 700px;
  background: url(../img/backgrounds/header.jpg) center -40px no-repeat;
  background-size: cover;
}
.header .swiper-container {
  max-width: 1030px;
}
.header__intro {
  width: 100%;
  max-width: 1030px;
  text-align: center;
  margin: 0 auto;
}
.header .section__text {
  font-family: "Lato", sans-serif;
  margin-bottom: 50px;
}
.header .btn.btn-primary {
  margin-right: 30px;
}
.header .slider {
  font-size: 45px;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
.header .slider:focus {
  outline: 0;
}
.header .slider--left {
  left: 50px;
}
.header .slider--right {
  right: 50px;
}
.header .slider i {
  color: #a4a4a4;
}
.header .slider i:hover {
  color: #ff0036;
}

.about__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 110px auto 0;
}
.about__info-text {
  width: 49%;
  color: #505050;
  font-family: "Lato", sans-serif;
  text-align: justify;
}
.about__info-text-p {
  font-size: 16px;
  margin-bottom: 40px;
}
.about__info-text .accordion {
  border: 1px solid #e7e7e7;
  margin-bottom: 10px;
}
.about__info-text .accordion__header {
  color: #262626;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: all 0.2s linear;
  padding: 10px 20px;
}
.about__info-text .accordion__header-title {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin-left: 50px;
}
.about__info-text .accordion__text {
  display: none;
  font-size: 14px;
  padding: 15px;
}
.about__info-text .accordion:hover .accordion__header {
  color: #ff0036;
}
.about__info-text .accordion.active {
  /* .accordion__text {
      display: block;
  } */
}
.about__info-text .accordion.active .accordion__header {
  color: #ff0036;
  border-bottom: 1px solid #e7e7e7;
}
.about__info-img {
  width: 48%;
}
.about__info-img img {
  max-width: 100%;
  height: auto;
}

.main-features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.main-features__item {
  width: 23%;
  text-align: center;
}
.main-features__item:hover .main-features__img {
  opacity: 0;
}
.main-features__item:hover .main-features__img-hover {
  opacity: 1;
}
.main-features__item:hover i {
  color: #fff;
}
.main-features__icon {
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.2s linear;
  margin-bottom: 25px;
}
.main-features__icon i {
  color: #262626;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.main-features__img, .main-features__img-hover {
  display: block;
  max-width: 100%;
  height: auto;
  transition: all 0.2s linear;
}
.main-features__img {
  opacity: 1;
}
.main-features__img-hover {
  opacity: 0;
  position: absolute;
}
.main-features__title {
  color: #262626;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-features__text {
  color: #505050;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.portfolio__ctgs {
  text-align: center;
  margin-bottom: 100px;
}
.portfolio__btn {
  color: #a4a4a4;
  font-size: 16px;
  font-family: "Lato-Bold", sans-serif;
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 0;
  margin-right: 20px;
}
.portfolio__btn:last-child {
  margin-right: 0;
}
.portfolio__btn:hover, .portfolio__btn.active {
  color: #ff0036;
}
.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.portfolio__col {
  display: flex;
}
.portfolio__box {
  display: inherit;
}
.portfolio__item {
  display: flex;
  position: relative;
}
.portfolio__item:hover .portfolio__zoom {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.portfolio__item:hover .portfolio__img {
  opacity: 0.1;
}
.portfolio__img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  background: #000;
  transition: all 0.2s linear;
}
.portfolio__zoom {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
  text-align: center;
  transition: all 0.3s ease;
}
.portfolio__zoom-title {
  font-size: 18px;
  font-family: "Lato-Light", sans-serif;
}
.portfolio__link {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}
.portfolio__link:hover {
  color: #ff0036;
}

.features__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 180px;
}
.features__list {
  z-index: 1;
}
.features__list.right .features__item {
  text-align: right;
}
.features__list.right .features__title {
  margin-left: 0;
  margin-right: 15px;
}
.features__item {
  display: flex;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background: #fff;
  border: 1px solid #e7e7e7;
  transition: all 0.2s linear;
  padding: 8px 20px;
  margin-bottom: 25px;
}
.features__item:last-child {
  margin-bottom: 0;
}
.features__item:hover {
  background: #ff0036;
}
.features__item:hover .features__title {
  color: #fff;
}
.features__item:hover .features__hex {
  opacity: 0;
}
.features__item:hover .features__hex-hover {
  opacity: 1;
}
.features__item:hover i {
  color: #ff0036;
}
.features__title {
  max-width: 280px;
  width: 90%;
  color: #262626;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  transition: all 0.2s linear;
  margin-left: 15px;
}
.features__icon {
  display: flex;
  position: relative;
  max-width: 35px;
  width: 12%;
}
.features__icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 14px;
}
.features__hex, .features__hex-hover {
  max-width: 100%;
  width: 35px;
  height: auto;
  transition: all 0.2s linear;
}
.features__hex {
  opacity: 1;
}
.features__hex-hover {
  position: absolute;
  opacity: 0;
}
.features__box {
  width: 100%;
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.features__box .btn {
  position: absolute;
  top: 530px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.features__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.clients__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px auto 0;
}
.clients__testimonials {
  width: 49%;
}
.clients__review {
  text-align: center;
  margin-bottom: 45px;
}
.clients__review-title {
  color: #fff;
  font-size: 20px;
  font-family: "Raleway-Light", sans-serif;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.clients__review-text {
  color: #a4a4a4;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
.clients__profile {
  text-align: center;
  margin: 0 auto;
}
.clients__profile-photo {
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}
.clients__profile-title {
  display: block;
  color: #ff0036;
  font-size: 16px;
  font-family: "Raleway-Bold", sans-serif;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.clients .swiper-pagination {
  bottom: -4px;
}
.clients .swiper-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 0;
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s linear;
  margin: 0 5px 0 0 !important;
}
.clients .swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}
.clients .swiper-pagination-bullet.swiper-pagination-bullet-active, .clients .swiper-pagination-bullet:hover {
  background: #ff0036;
}
.clients .swiper-pagination-bullet:focus {
  outline: 0;
}
.clients__sponsors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
}
.clients__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.clients__link {
  background: #ff0036;
}
.clients__logo {
  display: flex;
  max-width: 270px;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: all 0.2s linear;
}
.clients__logo:hover {
  opacity: 0.6;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px auto 0;
}
.team__item {
  width: 23%;
  text-align: center;
}
.team__item:hover .team__img {
  opacity: 0;
}
.team__item:hover .team__social {
  opacity: 1;
}
.team__item:hover .team__footer {
  border-color: #262626;
}
.team__item:hover .team__name {
  color: #ff0036;
}
.team__person {
  display: flex;
  justify-content: center;
  position: relative;
  background: #262626;
  transition: all 0.2s linear;
}
.team__social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  max-width: 155px;
  width: 100%;
  transition: all 0.2s linear;
}
.team__link {
  display: flex !important;
  max-width: 45px;
  width: 29%;
  position: relative;
  color: #ff0036;
  font-size: 22px;
}
.team__link i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 18px;
}
.team__link:hover .team__hex {
  opacity: 0;
}
.team__link:hover .team__hex-hover {
  opacity: 1;
}
.team__hex, .team__hex-hover {
  display: flex;
  position: absolute;
  top: -20px;
  width: 100%;
  height: auto;
  transition: all 0.2s linear;
}
.team__hex {
  opacity: 1;
}
.team__hex-hover {
  opacity: 0;
}
.team__img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: all 0.2s linear;
}
.team__footer {
  border: 1px solid #e7e7e7;
  transition: all 0.2s linear;
}
.team__name {
  color: #262626;
  font-size: 20px;
  font-family: "Raleway-Medium", sans-serif;
  text-transform: uppercase;
  transition: all 0.2s linear;
  margin: 25px 0 15px;
}
.team__prof {
  color: #505050;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  margin-bottom: 35px;
}

.skills__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 770px;
  width: 100%;
  margin: 100px auto 0;
}
.skills__item {
  width: 20%;
  text-align: center;
}
.skills__progress-bar {
  display: flex;
  justify-content: center;
  position: relative;
}
.skills__img {
  max-width: 100%;
  height: auto;
}
.skills__percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #000;
  font-size: 40px;
  font-family: "Lato", sans-serif;
}
.skills__title {
  color: #262626;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin: 20px 0 18px;
}
.skills__text {
  color: #505050;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.services__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
.services__item {
  width: 48.7%;
  margin-bottom: 50px;
}
.services__item:nth-child(5), .services__item:last-child {
  margin-bottom: 0;
}
.services__item:hover .services__img {
  opacity: 0;
}
.services__item:hover .services__img-hover {
  opacity: 1;
}
.services__item:hover i {
  color: #fff;
}
.services__item:hover .services__footer {
  background: #3d2329;
}
.services__item:hover .services__text {
  color: #fff;
}
.services__header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.services__icon {
  display: flex;
  position: relative;
  margin-right: 30px;
}
.services__icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #262626;
  font-size: 25px;
  transition: all 0.2s linear;
}
.services__img, .services__img-hover {
  display: block;
  max-width: 100%;
  width: 65px;
  height: auto;
  transition: all 0.2s linear;
}
.services__img {
  opacity: 1;
}
.services__img-hover {
  position: absolute;
  opacity: 0;
}
.services__title {
  color: #fff;
  font-size: 20px;
  font-family: "Raleway-Light", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.services__footer {
  background: #343434;
  transition: all 0.2s linear;
  padding: 30px 15px 30px 35px;
}
.services__text {
  color: #a4a4a4;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  transition: all 0.2s linear;
}

.pricing__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px auto 0;
}
.pricing__table {
  width: 23%;
  background: #fff;
}
.pricing__table:hover .pricing__price {
  color: #fff;
  background: #ff0036;
}
.pricing__table:hover .btn.btn-dark {
  background: #ff0036;
}
.pricing__list {
  color: #262626;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  text-align: center;
  list-style-type: none;
}
.pricing__name {
  color: #fff;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  background: #262626;
  padding: 10px 0;
}
.pricing__price {
  font-size: 50px;
  font-family: "Lato-Black", sans-serif;
  background: #f2f2f2;
  transition: all 0.2s linear;
  padding: 15px 0;
}
.pricing__price sub {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
.pricing__info {
  border: 1px solid #e7e7e7;
  border-top: 0;
  padding: 15px 0;
}
.pricing .btn.btn-dark {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  padding: 10px 50px;
}
.pricing .btn.btn-dark:hover {
  background: #ff0036;
}

.social {
  position: relative;
}
.social__inner {
  max-width: 645px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.social__icon {
  color: #ff0036;
  font-size: 38px;
  margin-bottom: 20px;
}
.social__text {
  color: #fff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
.social__bg-img {
  position: absolute;
  top: -17px;
  left: 30px;
  transform: rotate(-20deg);
  color: #3d3d3d;
  font-size: 210px;
  overflow: hidden;
}

.blog__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 970px;
  width: 100%;
  margin: 100px auto 0;
}
.blog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.blog__item:nth-child(2) {
  margin-bottom: 40px;
}
.blog__item:hover .blog__img img {
  opacity: 0.6;
}
.blog__item:hover .btn.btn-dark {
  background: #ff0036;
}
.blog__img {
  display: flex;
  width: 38%;
}
.blog__img img {
  display: block;
  max-width: 100%;
  height: auto;
  background: #fff;
  transition: all 0.2s linear;
}
.blog__article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 59%;
}
.blog__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65%;
}
.blog__title {
  color: #2e2e2e;
  font-size: 20px;
  font-family: "Raleway-SemiBold", sans-serif;
}
.blog__stat {
  color: #a4a4a4;
  font-size: 12px;
  font-family: "Lato";
}
.blog__stat i {
  margin: 0 3px 0 15px;
}
.blog__stat i:first-child {
  margin-left: 0;
}
.blog__text {
  color: #505050;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  text-align: justify;
}
.blog__footer .btn.btn-dark {
  font-size: 16px;
  padding: 12px 15px;
}
.blog__footer .btn.btn-dark:hover {
  background: #ff0036;
}
.blog__bottom {
  width: 40px;
  height: 40px;
  color: #a2a2a2;
  font-size: 35px;
  line-height: 1;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #f2f2f2;
  transition: all 0.1s linear;
  cursor: pointer;
  padding: 3px 0;
  margin: 0 auto;
}
.blog__bottom:hover {
  color: #ff0036;
  border: 1px solid #ff0036;
}

.follow {
  background: url(../img/backgrounds/header.jpg) no-repeat;
  background-size: cover;
  padding: 100px 0;
  margin: -100px 0;
}
.follow__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}
.follow__item {
  width: 16%;
  text-align: center;
}
.follow__item:hover .follow__img {
  opacity: 0;
}
.follow__item:hover .follow__img-hover {
  opacity: 1;
}
.follow__item:hover i {
  color: #fff;
}
.follow__icon {
  display: flex;
  position: relative;
  margin-bottom: 35px;
}
.follow__img, .follow__img-hover {
  display: block;
  max-width: 100%;
  width: 72px;
  height: 62px;
  transition: all 0.2s linear;
}
.follow__img {
  opacity: 1;
}
.follow__img-hover {
  opacity: 0;
  position: absolute;
}
.follow i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #ff0036;
  font-size: 22px;
}
.follow__counter {
  color: #fff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.contact {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: -100px;
}
.contact iframe {
  width: 100%;
  height: 580px;
  border: 0;
  margin-top: 100px;
}
.contact__pin {
  width: 300px;
  position: absolute;
  bottom: 170px;
  right: 65%;
  color: #fff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background: #262626;
  padding: 30px 20px;
}
.contact__pin::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 15px;
  transform: scaleX(0.3) skewX(-67deg);
  border-width: 55px;
  border-style: solid;
  border-color: #262626 transparent transparent transparent;
}
.contact__form {
  width: 470px;
  position: absolute;
  bottom: 0;
  left: 58%;
  background: #fff;
  padding: 45px 40px;
}
.contact__form .btn.btn-dark {
  float: right;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  padding: 12px 30px;
}
.contact__header {
  color: #262626;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.contact__input {
  width: 100%;
  color: #262626;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  border: 1px solid #e7e7e7;
  outline: 1px solid transparent;
  padding: 7px 15px;
  margin-bottom: 17px;
}
.contact__input::placeholder {
  color: #505050;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
.contact__input:focus {
  outline-color: #ff0036;
}
.contact__input:valid {
  outline-color: #ff0036;
}
.contact textarea {
  max-height: 92px;
  resize: none;
  margin-bottom: 25px;
}
.contact input[type=submit] {
  transition: all 0.2s linear;
  border: none;
}

.footer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background: #262626;
  padding: 0 40px;
}
.footer__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 120px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.footer__text {
  color: #8e8e8e;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  padding: 30px 0;
}

@media (max-width: 1200px) {
  /* BASE */
  .section {
    padding: 70px 0;
  }
  .section--clients-bg {
    margin-top: 220px;
  }

  .container {
    padding: 0 60px;
  }

  .section__header {
    max-width: 785px;
  }

  .line hr {
    width: 400px;
    bottom: -79px;
  }
  .line .hexagon {
    width: 15px;
    bottom: -77px;
  }

  /* NAVBAR */
  .nav__inner {
    height: 50px;
  }
  .nav__logo {
    max-width: 175px;
  }
  .nav__img {
    height: 74px;
  }
  .nav__list {
    width: 601px;
  }
  .nav__list-item {
    margin-right: 12px;
  }
  .nav__list-link, .nav__list-link:link {
    font-size: 15px;
  }
  .nav__list-link::after, .nav__list-link:link::after {
    height: 2px;
    top: 31px;
  }

  /* HEADER */
  .header {
    min-height: 640px;
    margin-bottom: -40px;
  }
  .header .swiper-container {
    max-width: 770px;
  }
  .header__intro {
    max-width: 770px;
  }
  .header .section__header {
    padding: 0;
  }
  .header .section__text {
    margin-bottom: 30px;
  }
  .header .btn.btn-primary,
.header .btn.btn-dark {
    font-size: 16px;
    padding: 12px 32px;
  }
  .header .btn.btn-primary {
    margin-right: 25px;
  }
  .header .slider {
    font-size: 35px;
  }
  .header .slider--left {
    left: 30px;
  }
  .header .slider--right {
    right: 30px;
  }

  /* ABOUT */
  .about__info {
    max-width: 1000px;
    margin-top: 60px;
  }
  .about__info-text {
    width: 46%;
  }
  .about__info-text-p {
    display: none;
  }
  .about__info-img {
    width: 45%;
  }
  .about .accordion__header-title {
    font-size: 18px;
    margin-left: 30px;
  }
  .about .accordion__header i {
    font-size: 15px;
  }
  .about .accordion__text {
    font-size: 13px;
    padding: 13px;
  }

  /* MAIN FEATURES */
  .main-features {
    max-width: 830px;
  }
  .main-features__item {
    width: 21%;
  }
  .main-features__img, .main-features__img-hover {
    width: 70px;
    height: 60px;
  }
  .main-features__icon {
    margin-bottom: 22px;
  }
  .main-features__icon i {
    font-size: 24px;
  }
  .main-features__title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .main-features__text {
    font-size: 14px;
  }

  /* PORTFOLIO */
  .portfolio__ctgs {
    margin-bottom: 70px;
  }
  .portfolio__btn {
    font-size: 14px;
  }
  .portfolio__img {
    max-height: 300px;
  }
  .portfolio__link {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .portfolio__zoom-title {
    font-size: 16px;
  }

  /* FEATURES */
  .features__inner {
    max-width: 875px;
    margin: 140px auto 0;
  }
  .features__list.right .features__title {
    margin-right: 10px;
  }
  .features__item {
    padding: 6px 12px;
    margin-bottom: 18px;
  }
  .features__title {
    font-size: 15px;
    margin-left: 10px;
  }
  .features__icon i {
    font-size: 10px;
  }
  .features__hex, .features__hex-hover {
    width: 28px;
    height: 24px;
  }
  .features__box {
    max-width: 367px;
    top: -120px;
  }
  .features__box .btn.btn-gray {
    top: 390px;
    font-size: 15px;
    padding: 10px 30px;
  }

  /* CLIENTS */
  .clients__info {
    max-width: 875px;
    margin-top: 70px;
  }
  .clients__review {
    margin-bottom: 25px;
  }
  .clients__review-title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .clients__review-text {
    font-size: 14px;
  }
  .clients__profile-photo {
    width: 55px;
    margin-bottom: 8px;
  }
  .clients__profile-title {
    font-size: 13px;
    margin-bottom: 13px;
  }
  .clients .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
  .clients__link {
    width: 47%;
  }

  /* TEAM */
  .team__inner {
    max-width: 872px;
    margin-top: 70px;
  }
  .team__social {
    max-width: 120px;
  }
  .team__link i {
    font-size: 14px;
  }
  .team__hex, .team__hex-hover {
    top: -16px;
  }
  .team__name {
    font-size: 16px;
    margin: 20px 0 10px;
  }
  .team__prof {
    font-size: 13px;
    margin-bottom: 20px;
  }

  /* SKILLS */
  .skills__inner {
    max-width: 600px;
    margin-top: 70px;
  }
  .skills__percent {
    font-size: 30px;
  }
  .skills__title {
    font-size: 16px;
    margin: 16px 0 12px;
  }
  .skills__text {
    font-size: 14px;
  }

  /* SERVICES */
  .services__inner {
    margin-top: 70px;
  }
  .services__item {
    margin-bottom: 40px;
  }
  .services__header {
    margin-bottom: 20px;
  }
  .services__icon {
    margin-right: 22px;
  }
  .services__icon i {
    font-size: 20px;
  }
  .services__img, .services__img-hover {
    width: 50px;
    height: 43px;
  }
  .services__title {
    font-size: 16px;
  }
  .services__footer {
    padding: 20px 10px 20px 28px;
  }
  .services__text {
    font-size: 14px;
  }

  /* PRICING */
  .pricing__inner {
    margin-top: 70px;
  }
  .pricing__list {
    font-size: 12px;
  }
  .pricing__name {
    font-size: 17px;
    padding: 8px 0;
  }
  .pricing__price {
    font-size: 42px;
    padding: 12px 0;
  }
  .pricing__price sub {
    font-size: 14px;
  }
  .pricing__info {
    padding: 10px 0;
  }
  .pricing .btn.btn-dark {
    font-size: 16px;
    padding: 8px 35px;
  }

  /* SOCIAL */
  .social__inner {
    max-width: 595px;
  }
  .social__icon {
    font-size: 32px;
    margin-bottom: 14px;
  }
  .social__text {
    font-size: 14px;
  }
  .social__bg-img {
    top: -8px;
    left: 20px;
    font-size: 155px;
  }

  /* BLOG */
  .blog__inner {
    max-width: 800px;
    margin-top: 70px;
  }
  .blog__item {
    margin-bottom: 40px;
  }
  .blog__title {
    font-size: 18px;
  }
  .blog__stat {
    font-size: 10px;
  }
  .blog__stat i {
    margin: 0 3px 0 12px;
  }
  .blog__text {
    font-size: 13px;
  }
  .blog .btn.btn-dark {
    font-size: 14px;
    padding: 10px 12px;
  }
  .blog__bottom {
    width: 30px;
    height: 30px;
    font-size: 25px;
  }

  /* FOLLOW */
  .follow {
    padding: 70px 0;
    margin: -70px 0;
  }
  .follow__inner {
    max-width: 330px;
    margin-top: 30px;
  }
  .follow__icon {
    margin-bottom: 20px;
  }
  .follow__icon i {
    font-size: 15px;
  }
  .follow__img, .follow__img-hover {
    width: 50px;
    height: 45px;
  }
  .follow__counter {
    font-size: 12px;
  }

  /* CONTACT */
  .contact {
    margin-bottom: -70px;
  }
  .contact iframe {
    margin-top: 70px;
    height: 460px;
  }
  .contact__pin {
    width: 230px;
    bottom: 130px;
    font-size: 14px;
    padding: 25px 20px;
  }
  .contact__pin::after {
    right: 10px;
    border-width: 40px;
    transform: scaleX(0.26) skewX(-70deg);
  }
  .contact__form {
    width: 380px;
    left: 50%;
    padding: 30px 25px;
  }
  .contact__header {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .contact__input {
    font-size: 14px;
    padding: 5px 12px;
    margin-bottom: 14px;
  }
  .contact textarea {
    margin-bottom: 18px;
  }
  .contact .btn.btn-dark {
    font-size: 14px;
    padding: 10px 24px;
  }

  /* FOOTER */
  .footer {
    padding: 0 25px;
  }
  .footer__logo {
    max-width: 100px;
  }
  .footer__text {
    font-size: 14px;
    padding: 20px 0;
  }
}
@media (max-width: 991px) {
  /* BASE */
  .section {
    padding: 50px 0;
  }
  .section--clients-bg {
    margin-top: 160px;
  }

  .container {
    padding: 0 50px;
  }

  .section__header {
    max-width: 625px;
  }

  .line hr {
    width: 300px;
    bottom: -59px;
  }
  .line .hexagon {
    width: 13px;
    bottom: -56px;
  }

  /* NAVBAR */
  .nav__inner {
    height: 40px;
  }
  .nav__logo {
    max-width: 130px;
  }
  .nav__img {
    height: 55px;
  }
  .nav__list {
    max-width: 489px;
  }
  .nav__list-item {
    margin-right: 10px;
  }
  .nav__list-link, .nav__list-link:link {
    font-size: 12px;
  }
  .nav__list-link::after, .nav__list-link:link::after {
    width: 20px;
    top: 23px;
  }

  /* HEADER */
  .header {
    min-height: 500px;
  }
  .header .section__text {
    margin-bottom: 20px;
  }
  .header .swiper-container {
    max-width: 510px;
  }
  .header__intro {
    max-width: 510px;
  }
  .header .btn.btn-primary,
.header .btn.btn-dark {
    font-size: 14px;
    padding: 10px 28px;
  }
  .header .btn.btn-primary {
    margin-right: 20px;
  }
  .header .slider {
    font-size: 25px;
  }
  .header .slider--left {
    left: 20px;
  }
  .header .slider--right {
    right: 20px;
  }

  /* ABOUT */
  .about__info {
    max-width: 450px;
    margin-top: 50px;
  }
  .about__info-text {
    width: 100%;
  }
  .about__info-text .accordion {
    margin-bottom: 8px;
  }
  .about__info-text .accordion:last-child {
    margin-bottom: 0;
  }
  .about__info-text .accordion__header {
    padding: 8px 16px;
  }
  .about__info-text .accordion__header-title {
    font-size: 16px;
    margin-left: 20px;
  }
  .about__info-text .accordion__header i {
    font-size: 12px;
  }
  .about__info-text .accordion__text {
    font-size: 12px;
    padding: 12px;
  }
  .about__info-img {
    display: none;
  }

  /* MAIN FEATURES */
  .main-features {
    max-width: 600px;
  }
  .main-features__item {
    width: 22%;
    max-height: 135px;
    overflow: hidden;
  }
  .main-features__icon {
    margin-bottom: 14px;
  }
  .main-features__icon i {
    font-size: 20px;
  }
  .main-features__img, .main-features__img-hover {
    width: 60px;
    height: 52px;
  }
  .main-features__title {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .main-features__text {
    font-size: 12px;
  }

  /* PORTFOLIO */
  .portfolio__ctgs {
    margin-bottom: 50px;
  }
  .portfolio__btn {
    font-size: 12px;
    margin-right: 14px;
  }
  .portfolio__img {
    max-height: 248px;
  }
  .portfolio__zoom-title {
    font-size: 14px;
  }
  .portfolio__link {
    font-size: 24px;
    margin-bottom: 5px;
  }

  /* FEATURES */
  .features__inner {
    max-width: 668px;
  }
  .features__list.right .features__title {
    margin-right: 6px;
  }
  .features__item {
    max-width: 215px;
    padding: 5px 8px;
    margin-bottom: 12px;
  }
  .features__title {
    font-size: 12px;
    margin-left: 6px;
  }
  .features__icon i {
    font-size: 9px;
  }
  .features__hex, .features__hex-hover {
    width: 22px;
    height: 19px;
  }
  .features__box {
    max-width: 280px;
    top: -95px;
  }
  .features__box .btn.btn-gray {
    top: 300px;
    font-size: 12px;
    padding: 8px 24px;
  }

  /* CLIENTS */
  .clients__info {
    max-width: 670px;
    margin-top: 50px;
  }
  .clients__testimonials {
    width: 48%;
  }
  .clients__review {
    margin-bottom: 16px;
  }
  .clients__review-title {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .clients__review-text {
    font-size: 12px;
  }
  .clients__profile-photo {
    width: 40px;
    margin-bottom: 0;
  }
  .clients__profile-title {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .clients .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }

  /* TEAM */
  .team__inner {
    max-width: 670px;
    margin-top: 50px;
  }
  .team__social {
    max-width: 90px;
  }
  .team__link i {
    font-size: 12px;
  }
  .team__hex, .team__hex-hover {
    top: -12px;
  }
  .team__name {
    font-size: 14px;
    margin: 14px 0 6px;
  }
  .team__prof {
    font-size: 11px;
    margin-bottom: 14px;
  }

  /* SKILLS */
  .skills__inner {
    max-width: 500px;
    margin-top: 50px;
  }
  .skills__percent {
    font-size: 26px;
  }
  .skills__title {
    font-size: 14px;
    margin: 12px 0 8px;
  }
  .skills__text {
    font-size: 12px;
  }

  /* SERVICES */
  .services {
    margin: 0 auto;
  }
  .services__inner {
    margin-top: 50px;
  }
  .services__item {
    margin-bottom: 34px;
  }
  .services__header {
    margin-bottom: 16px;
  }
  .services__icon {
    margin-right: 16px;
  }
  .services__icon i {
    font-size: 16px;
  }
  .services__img, .services__img-hover {
    width: 38px;
    height: 33px;
  }
  .services__title {
    font-size: 14px;
  }
  .services__footer {
    padding: 16px 8px 16px 24px;
  }
  .services__text {
    font-size: 12px;
  }

  /* PRICING */
  .pricing__inner {
    margin-top: 50px;
  }
  .pricing__list {
    font-size: 10px;
  }
  .pricing__name {
    font-size: 13px;
    padding: 6px 0;
  }
  .pricing__price {
    font-size: 30px;
    padding: 8px 0;
  }
  .pricing__price sub {
    font-size: 10px;
  }
  .pricing__info {
    padding: 8px 0;
  }
  .pricing .btn.btn-dark {
    font-size: 13px;
    padding: 6px 28px;
  }

  /* SOCIAL */
  .social__inner {
    max-width: 390px;
  }
  .social__icon {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .social__text {
    font-size: 12px;
  }
  .social__bg-img {
    top: -3px;
    left: 14px;
    font-size: 120px;
  }

  /* BLOG */
  .blog__inner {
    max-width: 650px;
    margin-top: 50px;
  }
  .blog__item {
    margin-bottom: 30px;
  }
  .blog__header {
    height: 68%;
  }
  .blog__title {
    font-size: 16px;
  }
  .blog__stat {
    font-size: 8px;
  }
  .blog__stat i {
    margin: 0 0 0 12px;
  }
  .blog__text {
    font-size: 11px;
  }
  .blog .btn.btn-dark {
    font-size: 12px;
    padding: 8px 10px;
  }
  .blog__bottom {
    width: 24px;
    height: 24px;
    font-size: 20px;
  }

  /* FOLLOW */
  .follow {
    padding: 50px 0;
    margin: -50px 0;
  }
  .follow__inner {
    max-width: 290px;
    margin-top: 24px;
  }
  .follow__icon {
    margin-bottom: 14px;
  }
  .follow__icon i {
    font-size: 12px;
  }
  .follow__img, .follow__img-hover {
    width: 45px;
    height: 40px;
  }
  .follow__counter {
    font-size: 10px;
  }

  /* CONTACT */
  .contact {
    margin-bottom: -50px;
  }
  .contact iframe {
    margin-top: 50px;
    height: 360px;
  }
  .contact__pin {
    width: 200px;
    font-size: 12px;
    padding: 18px 16px;
  }
  .contact__pin::after {
    right: 6px;
    border-width: 30px;
    transform: scaleX(0.26) skewX(-70deg);
  }
  .contact__form {
    width: 300px;
    padding: 24px 20px;
  }
  .contact__header {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .contact__input {
    font-size: 12px;
    padding: 3px 10px;
    margin-bottom: 12px;
  }
  .contact textarea {
    margin-bottom: 10px;
  }
  .contact .btn.btn-dark {
    font-size: 12px;
    padding: 8px 20px;
  }

  /* FOOTER */
  .footer {
    padding: 0 15px;
  }
  .footer__logo {
    max-width: 80px;
  }
  .footer__text {
    font-size: 12px;
    padding: 16px 0;
  }
}
@media (max-width: 767px) {
  /* BASE */
  html, body {
    width: auto;
    overflow-x: hidden;
  }

  .section {
    padding: 60px 0;
  }
  .section--clients-bg {
    margin-top: 0;
  }

  .container {
    padding: 0 40px;
  }

  .section__header {
    max-width: 465px;
  }

  .line hr {
    width: 300px;
    bottom: -69px;
  }
  .line .hexagon {
    width: 14px;
    bottom: -66px;
  }

  /* NAVBAR */
  .nav {
    display: block;
    background: #000;
  }
  .nav__inner {
    display: block;
    height: auto;
  }
  .nav__logo {
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .nav__logo a {
    display: flex;
  }
  .nav__img {
    max-width: 140px;
    height: 59px;
  }
  .nav__menu {
    display: inline-block;
    color: #fff;
    background: transparent;
    font-size: 24px;
  }
  .nav__close {
    display: flex;
  }
  .nav__list {
    position: fixed;
    max-width: none;
    width: 0;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: all 0.2s linear;
    background: #000;
  }
  .nav__list.open {
    width: 300px;
    z-index: 1020;
  }
  .nav__list-item {
    display: block;
    margin: 0;
  }
  .nav__list-link, .nav__list-link:link {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    padding: 10px 20px;
  }
  .nav__list-link::after, .nav__list-link:link::after {
    width: 30px;
    top: 32px;
    left: 21px;
    transform: translateX(0);
  }

  /* HEADER */
  .header .section__header {
    max-width: 445px;
  }
  .header .section__text {
    margin-bottom: 30px;
  }
  .header .swiper-container {
    max-width: 410px;
  }
  .header__intro {
    max-width: 410px;
  }
  .header .btn.btn-primary,
.header .btn.btn-dark {
    font-size: 16px;
    padding: 12px 30px;
  }
  .header .btn.btn-primary {
    margin-right: 25px;
  }
  .header .slider {
    font-size: 35px;
  }

  /* ABOUT */
  .about__info {
    max-width: 496px;
    margin-top: 60px;
  }
  .about__info-text {
    width: 100%;
  }
  .about__info-text .accordion {
    margin-bottom: 12px;
  }
  .about__info-text .accordion__header {
    padding: 10px 20px;
  }
  .about__info-text .accordion__header-title {
    font-size: 20px;
    margin-left: 30px;
  }
  .about__info-text .accordion__header i {
    font-size: 16px;
  }
  .about__info-text .accordion__text {
    font-size: 14px;
    padding: 16px;
  }
  .about__info-img {
    display: none;
  }

  /* MAIN FEATURES */
  .main-features {
    max-width: 496px;
  }
  .main-features__item {
    width: 46%;
    max-height: none;
    margin-bottom: 38px;
  }
  .main-features__item:nth-child(3), .main-features__item:last-child {
    margin-bottom: 0;
  }
  .main-features__icon {
    margin-bottom: 18px;
  }
  .main-features__icon i {
    font-size: 26px;
  }
  .main-features__img, .main-features__img-hover {
    width: 70px;
    height: 60px;
  }
  .main-features__title {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .main-features__text {
    font-size: 14px;
  }

  /* PORTFOLIO */
  .portfolio__ctgs {
    margin-bottom: 60px;
  }
  .portfolio__btn {
    font-size: 15px;
    margin-right: 20px;
  }
  .portfolio__col {
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio__col:first-child .portfolio__box:last-child {
    flex-direction: row-reverse;
  }
  .portfolio__col:last-child .portfolio__box:first-child {
    flex-direction: row-reverse;
  }
  .portfolio__col:last-child .portfolio__box:last-child {
    flex-direction: row;
  }
  .portfolio__box {
    display: flex;
    width: 100%;
  }
  .portfolio__item {
    width: 57%;
  }
  .portfolio__item--sm {
    width: 43%;
  }
  .portfolio__img {
    width: 100%;
    max-height: 385px;
  }
  .portfolio__zoom-title {
    font-size: 18px;
  }
  .portfolio__link {
    font-size: 34px;
    margin-bottom: 15px;
  }

  /* FEATURES */
  .features__inner {
    max-width: 496px;
    margin-top: 570px;
  }
  .features__list.right .features__title {
    margin-right: 8px;
  }
  .features__item {
    max-width: 240px;
    padding: 8px 12px;
    margin-bottom: 20px;
  }
  .features__title {
    font-size: 13px;
    margin-left: 8px;
  }
  .features__hex, .features__hex-hover {
    width: 24px;
    height: 21px;
  }
  .features__box {
    max-width: 380px;
    top: -560px;
  }
  .features__box .btn.btn-gray {
    top: 400px;
    font-size: 16px;
    padding: 12px 28px;
  }

  /* CLIENTS */
  .clients__info {
    max-width: 496px;
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  .clients__testimonials {
    width: 100%;
  }
  .clients__review {
    margin-bottom: 30px;
  }
  .clients__review-title {
    font-size: 18px;
    margin-bottom: 22px;
  }
  .clients__review-text {
    font-size: 14px;
  }
  .clients__profile-photo {
    width: 60px;
    margin-bottom: 10px;
  }
  .clients__profile-title {
    font-size: 13px;
    margin-bottom: 18px;
  }
  .clients .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }
  .clients__sponsors {
    width: 100%;
    margin-bottom: 60px;
  }
  .clients__item {
    margin-bottom: 30px;
  }
  .clients__item:last-child {
    margin-bottom: 0;
  }

  /* TEAM */
  .team__inner {
    max-width: 496px;
    margin-top: 60px;
  }
  .team__item {
    width: 47%;
    margin-bottom: 30px;
  }
  .team__item:nth-child(3), .team__item:last-child {
    margin-bottom: 0;
  }
  .team__social {
    max-width: 130px;
  }
  .team__link i {
    font-size: 16px;
  }
  .team__hex, .team__hex-hover {
    top: -16px;
  }
  .team__name {
    font-size: 16px;
    margin: 18px 0 8px;
  }
  .team__prof {
    font-size: 13px;
    margin-bottom: 18px;
  }

  /* SKILLS */
  .skills__inner {
    max-width: 370px;
    margin-top: 60px;
  }
  .skills__item {
    width: 45%;
    margin-bottom: 40px;
  }
  .skills__item:nth-child(3), .skills__item:last-child {
    margin-bottom: 0;
  }
  .skills__percent {
    font-size: 36px;
  }
  .skills__title {
    font-size: 18px;
    margin: 16px 0 10px;
  }
  .skills__text {
    font-size: 14px;
  }

  /* SERVICES */
  .services {
    max-width: 496px;
  }
  .services__inner {
    margin-top: 60px;
  }
  .services__item {
    width: 100%;
    margin-bottom: 40px;
  }
  .services__item:nth-child(5) {
    margin-bottom: 40px;
  }
  .services__item:last-child {
    margin-bottom: 0;
  }
  .services__header {
    margin-bottom: 18px;
  }
  .services__icon {
    margin-right: 24px;
  }
  .services__icon i {
    font-size: 18px;
  }
  .services__img, .services__img-hover {
    width: 50px;
    height: 43px;
  }
  .services__title {
    font-size: 16px;
  }
  .services__footer {
    padding: 18px 10px 18px 26px;
  }
  .services__text {
    font-size: 14px;
  }

  /* PRICING */
  .pricing__inner {
    max-width: 496px;
    margin-top: 60px;
  }
  .pricing__table {
    width: 46%;
    margin-bottom: 40px;
  }
  .pricing__table:nth-child(3), .pricing__table:last-child {
    margin-bottom: 0;
  }
  .pricing__list {
    font-size: 12px;
  }
  .pricing__name {
    font-size: 16px;
    padding: 10px 0;
  }
  .pricing__price {
    font-size: 36px;
    padding: 8px 0;
  }
  .pricing__price sub {
    font-size: 12px;
  }
  .pricing__info {
    padding: 12px 0;
  }
  .pricing .btn.btn-dark {
    font-size: 15px;
    padding: 10px 44px;
  }

  /* SOCIAL */
  .social__inner {
    max-width: 518px;
  }
  .social__icon {
    position: relative;
    font-size: 34px;
    z-index: 1;
    margin-bottom: 12px;
  }
  .social__text {
    position: relative;
    font-size: 13px;
    z-index: 1;
  }
  .social__bg-img {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 230px;
    opacity: 0.3;
  }

  /* BLOG */
  .blog__inner {
    max-width: 496px;
    margin-top: 60px;
  }
  .blog__item {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .blog__img {
    width: 100%;
    justify-content: center;
    margin-bottom: 16px;
  }
  .blog__img img {
    max-width: none;
    width: 100%;
  }
  .blog__article {
    width: 100%;
  }
  .blog__header {
    height: auto;
    margin-bottom: 16px;
  }
  .blog__title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .blog__stat {
    font-size: 11px;
    margin-bottom: 8px;
  }
  .blog__stat i {
    margin: 0 1px 0 14px;
  }
  .blog__text {
    font-size: 14px;
  }
  .blog .btn.btn-dark {
    font-size: 14px;
    padding: 12px 14px;
  }
  .blog__bottom {
    width: 30px;
    height: 30px;
    font-size: 24px;
  }

  /* FOLLOW */
  .follow {
    padding: 60px 0;
    margin: -60px 0;
  }
  .follow__inner {
    max-width: 395px;
    margin-top: 40px;
  }
  .follow__icon {
    margin-bottom: 24px;
  }
  .follow__icon i {
    font-size: 18px;
  }
  .follow__img, .follow__img-hover {
    width: 63px;
    height: 55px;
  }
  .follow__counter {
    font-size: 14px;
  }

  /* CONTACT */
  .contact {
    margin-bottom: -60px;
  }
  .contact iframe {
    margin-top: 60px;
    height: 720px;
  }
  .contact__pin {
    width: 220px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 540px;
    font-size: 14px;
    padding: 24px 20px;
  }
  .contact__pin::after {
    right: 10px;
    border-width: 35px;
    transform: scaleX(0.3) skewX(-67deg);
  }
  .contact__form {
    width: 340px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
  }
  .contact__header {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .contact__input {
    font-size: 14px;
    padding: 5px 12px;
  }
  .contact textarea {
    height: 120px;
    margin-bottom: 15px;
  }
  .contact .btn.btn-dark {
    font-size: 14px;
    padding: 10px 26px;
  }

  /* FOOTER */
  .footer {
    justify-content: center;
  }
  .footer__logo {
    max-width: 120px;
    top: 35%;
  }
  .footer__text {
    font-size: 12px;
    padding: 50px 0 20px;
  }
}
@media (max-width: 575px) and (min-width: 400px) {
  /* MAIN FEATURES */
  .main-features__item {
    width: 45% !important;
  }
  .main-features__item:nth-child(3) {
    margin-bottom: 0 !important;
  }

  /* CLIENTS */
  .clients__info {
    max-width: none !important;
  }
  .clients__item {
    justify-content: inherit !important;
    margin-bottom: 26px !important;
  }
  .clients__item:last-child {
    margin-bottom: 0 !important;
  }
  .clients__link {
    width: 47% !important;
    margin-bottom: 0 !important;
  }

  /* SKILLS */
  .skills__inner {
    max-width: 360px !important;
    flex-direction: row !important;
  }
  .skills__item {
    width: 45% !important;
    margin-bottom: 40px !important;
  }
  .skills__item:nth-child(3), .skills__item:last-child {
    margin-bottom: 0 !important;
  }
  .skills__progress-bar {
    max-width: none !important;
  }

  /* FOLLOW */
  .follow__inner {
    max-width: 190px !important;
  }
  .follow__item {
    width: 45% !important;
  }
  .follow__item:nth-child(3), .follow__item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 575px) {
  /* BASE */
  .section {
    padding: 40px 0;
  }
  .section--clients-bg {
    margin-top: 0;
  }

  .container {
    padding: 0 20px;
  }

  .line hr {
    width: 230px;
    bottom: -49px;
  }
  .line .hexagon {
    width: 12px;
    bottom: -46px;
  }

  /* NAVBAR */
  .nav__img {
    max-width: 100px;
    height: 42px;
  }
  .nav__menu {
    font-size: 20px;
  }
  .nav__list.open {
    width: 70%;
  }
  .nav__list-link, .nav__list-link:link {
    font-size: 14px;
  }
  .nav__list-link::after, .nav__list-link:link::after {
    width: 25px;
  }

  /* HEADER */
  .header .swiper-container {
    max-width: 410px;
  }
  .header__intro {
    max-width: 100%;
  }
  .header .section__header {
    max-width: 455px;
  }
  .header .section__text {
    max-width: 90%;
    font-size: 13px;
    margin: 0 auto 20px;
  }
  .header__hide {
    display: none;
  }
  .header .btn.btn-primary .btn.btn-dark {
    font-size: 13px;
    padding: 10px 22px;
  }
  .header .btn.btn-primary {
    margin-right: 20px;
  }
  .header .slider {
    font-size: 30px;
  }
  .header .slider--left {
    left: 10px;
  }
  .header .slider--right {
    right: 10px;
  }

  /* ABOUT */
  .about__info {
    max-width: none;
    margin-top: 40px;
  }
  .about__info-text .accordion__header {
    padding: 8px 16px;
  }
  .about__info-text .accordion__header-title {
    font-size: 18px;
    margin-left: 20px;
  }
  .about__info-text .accordion__header i {
    font-size: 14px;
  }
  .about__info-text .accordion__text {
    font-size: 13px;
    padding: 14px;
  }

  /* MAIN FEATURES */
  .main-features__item {
    max-width: 250px;
    width: 100%;
    margin: 0 auto 30px;
  }
  .main-features__item:nth-child(3) {
    margin-bottom: 30px;
  }
  .main-features__icon {
    margin-bottom: 16px;
  }
  .main-features__icon i {
    font-size: 22px;
  }
  .main-features__img, .main-features__img-hover {
    width: 60px;
    height: 52px;
  }
  .main-features__title {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .main-features__text {
    font-size: 13px;
  }

  /* PORTFOLIO */
  .portfolio__ctgs {
    margin-bottom: 40px;
  }
  .portfolio__btn {
    font-size: 12px;
    margin-right: 14px;
  }
  .portfolio__img {
    max-height: 288px;
  }
  .portfolio__zoom-title {
    font-size: 16px;
  }
  .portfolio__link {
    font-size: 26px;
    margin-bottom: 10px;
  }

  /* FEATURES */
  .features__inner {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 280px;
    margin-top: 410px;
  }
  .features__list.right {
    margin-bottom: 0;
  }
  .features__list.right .features__item {
    flex-direction: row-reverse;
    text-align: left;
  }
  .features__list.right .features__title {
    margin-left: 8px;
    margin-right: 0;
  }
  .features__list {
    width: 100%;
    margin-bottom: 16px;
  }
  .features__item {
    max-width: none;
    padding: 6px 12px;
    margin-bottom: 14px;
  }
  .features__hex, .features__hex-hover {
    width: 29px;
    height: 25px;
  }
  .features__box {
    max-width: 280px;
    top: -410px;
  }
  .features__box .btn.btn-gray {
    top: 290px;
    font-size: 14px;
    padding: 12px 26px;
  }

  /* CLIENTS */
  .clients__info {
    margin-top: 40px;
  }
  .clients__review {
    margin-bottom: 26px;
  }
  .clients__review-title {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .clients__review-text {
    font-size: 13px;
  }
  .clients__profile-photo {
    width: 55px;
    margin-bottom: 8px;
  }
  .clients__profile-title {
    font-size: 12px;
    margin-bottom: 18px;
  }
  .clients__sponsors {
    margin-bottom: 40px;
  }
  .clients__item {
    justify-content: center;
    margin-bottom: 0;
  }
  .clients__item:last-child .clients__link:last-child {
    margin-bottom: 0;
  }
  .clients__link {
    width: 225px;
    margin-bottom: 22px;
  }
  .clients__logo {
    max-width: none;
  }

  /* TEAM */
  .team__inner {
    justify-content: center;
    margin-top: 40px;
  }
  .team__item {
    max-width: 270px;
    width: 100%;
  }
  .team__item:nth-child(3) {
    margin-bottom: 30px;
  }
  .team__social {
    max-width: 160px;
  }
  .team__link i {
    font-size: 18px;
  }
  .team__hex, .team__hex-hover {
    top: -19px;
  }
  .team__name {
    font-size: 18px;
    margin: 22px 0 12px;
  }
  .team__prof {
    font-size: 15px;
    margin-bottom: 22px;
  }

  /* SKILLS */
  .skills__inner {
    flex-direction: column;
    max-width: 187px;
    margin-top: 40px;
  }
  .skills__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .skills__item:nth-child(3) {
    margin-bottom: 30px;
  }
  .skills__progress-bar {
    max-width: 130px;
    margin: 0 auto;
  }
  .skills__percent {
    font-size: 34px;
  }
  .skills__title {
    font-size: 17px;
    margin: 14px 0 8px;
  }

  /* SERVICES */
  .services {
    max-width: none;
  }
  .services__inner {
    margin-top: 40px;
  }
  .services__item {
    margin-bottom: 30px;
  }
  .services__item:nth-child(5) {
    margin-bottom: 30px;
  }
  .services__item:last-child {
    margin-bottom: 0;
  }
  .services__header {
    margin-bottom: 14px;
  }
  .services__icon {
    margin-right: 20px;
  }
  .services__icon i {
    font-size: 16px;
  }
  .services__img, .services__img-hover {
    width: 40px;
    height: 34.5px;
  }
  .services__title {
    font-size: 14px;
  }
  .services__footer {
    padding: 14px 10px 14px 20px;
  }
  .services__text {
    font-size: 13px;
  }

  /* PRICING */
  .pricing__inner {
    max-width: 250px;
    margin-top: 40px;
  }
  .pricing__table {
    width: 100%;
    margin-bottom: 30px;
  }
  .pricing__table:nth-child(3) {
    margin-bottom: 30px;
  }
  .pricing__name {
    font-size: 15px;
  }
  .pricing__price {
    font-size: 34px;
    padding: 6px 0;
  }
  .pricing__info {
    padding: 10px 0;
  }

  /* SOCIAL */
  .social__inner {
    max-width: 385px;
  }
  .social__icon {
    font-size: 32px;
    margin-bottom: 8px;
  }
  .social__text {
    font-size: 12px;
  }
  .social__bg-img {
    font-size: 180px;
  }

  /* BLOG */
  .blog__inner {
    max-width: 370px;
    margin-top: 40px;
  }
  .blog__item {
    margin-bottom: 35px;
  }
  .blog__item:nth-child(2) {
    margin-bottom: 30px;
  }
  .blog__img {
    margin-bottom: 12px;
  }
  .blog__header {
    margin-bottom: 12px;
  }
  .blog__title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .blog__stat {
    margin-bottom: 5px;
  }
  .blog__text {
    font-size: 13px;
  }
  .blog .btn.btn-dark {
    font-size: 12px;
    letter-spacing: 0.4px;
  }

  /* FOLLOW */
  .follow {
    padding: 40px 0;
    margin: -40px 0;
  }
  .follow__inner {
    max-width: 70px;
    margin-top: 30px;
  }
  .follow__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .follow__item:last-child {
    margin-bottom: 0;
  }
  .follow__icon {
    margin-bottom: 12px;
  }
  .follow__icon i {
    font-size: 20px;
  }
  .follow__img, .follow__img-hover {
    width: 70px;
    height: 60px;
  }
  .follow__counter {
    font-size: 15px;
  }

  /* CONTACT */
  .contact {
    margin-bottom: -40px;
  }
  .contact iframe {
    margin-top: 40px;
    height: 700px;
  }
  .contact__pin {
    width: 180px;
    font-size: 12px;
    padding: 20px 16px;
  }
  .contact__pin::after {
    border-width: 30px;
    transform: scaleX(0.28) skewX(-67deg);
  }
  .contact__form {
    max-width: 330px;
    width: 86%;
    padding: 25px;
  }
  .contact__header {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .contact__input {
    font-size: 13px;
    padding: 6px 10px;
  }
  .contact .btn.btn-dark {
    font-size: 13px;
    letter-spacing: 0.3px;
  }

  /* FOOTER */
  .footer {
    justify-content: center;
    padding: 0 15px;
  }
  .footer__logo {
    max-width: 100px;
    top: 32%;
  }
  .footer__text {
    font-size: 12px;
    padding: 40px 0 14px;
  }
}
@media (max-width: 340px) {
  /* HEADER */
  .header__intro {
    display: flex;
    flex-direction: column;
  }
  .header .btn.btn-primary,
.header .btn.btn-dark {
    align-self: center;
  }
  .header .btn.btn-primary {
    margin: 0 0 20px 0;
  }
}

/*# sourceMappingURL=style.css.map */
