.about {

    &__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 110px auto 0;

        &-text {
            width: 49%;
            color: $darkGrayColor;
            font-family: 'Lato', sans-serif;
            text-align: justify;

            &-p {
                font-size: 16px;
                margin-bottom: 40px;
            }

            .accordion {
                border: 1px solid $borderColor;
                margin-bottom: 10px;

                &__header {
                    color: $blackColor;
                    background-color: $lightGrayColor;
                    cursor: pointer;
                    transition: all .2s linear;
                    padding: 10px 20px;

                    &-title {
                        display: inline-block;
                        font-family: 'Raleway', sans-serif;
                        font-size: 20px;
                        margin-left: 50px;
                    }
                }

                &__text {
                    display: none;
                    font-size: 14px;
                    padding: 15px;
                }

                &:hover {

                    .accordion__header {
                        color: $redColor;
                    }

                }

            }

            .accordion.active {

                .accordion__header {
                    color: $redColor;
                    border-bottom: 1px solid $borderColor;
                }

                .accordion__text {
                    display: block;
                }

            }

        }

        &-img {
            width: 48%;

            img {
                max-width: 100%;
                height: auto;
            }

        }

    }

}