$redColor: #ff0036;
$blackColor: #262626;
$grayColor: #a4a4a4;
$darkGrayColor: #505050;
$lightGrayColor: #f7f7f7;
$borderColor: #e7e7e7;
$blogTextColor: #2e2e2e;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    color: #000;
    background: #fff;
    font-size: 16px;
    font-family: 'Raleway', 'Lato', sans-serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a,
a:link,
a:active,
a:hover {
    display: inline-block;
    text-decoration: none;
    transition: all .2s linear;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    transition: all .2s linear;
}

i {
    transition: all .2s linear;
}

ul,
li,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section {
    padding: 100px 0;

    &--dark-bg {
        background: $blackColor;
    }

    &--clients-bg {
        background: url(../img/backgrounds/clients.png) center no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin-top: 300px;
    }

    &__header {
        width: 100%;
        text-align: center;
        margin: 0 auto;

        .section__title {
            @include section__title;
        }
    
        .section__text {
            @include section__text;
        }

    }
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    @include btn;

    &.btn-primary {
        background-color: $redColor;

        &:hover {
            background-color: darken($redColor, 15%);
        }
    }

    &.btn.btn-dark {
        background-color: $blackColor;

        &:hover {
            background-color: $redColor;
        }
    }

    &.btn.btn-gray {
        background-color: $darkGrayColor;

        &:hover {
            background-color: $redColor;
        }
    }

}

.red {
    color: $redColor;
}

.white {
    color: #fff;
}

.gray {
    color: $grayColor;
}

.red-bg {
    background-color: $redColor;
}

.line {
    position: relative;
    margin: 0 auto;

    hr {
        display: block;
        position: absolute;
        bottom: -109px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 515px;
        height: 1px;
        background-color: $blackColor;
        border: 0;
    }

    .hexagon {
        width: 20px;
        position: absolute;
        left: 50%;
        bottom: -110px;
        z-index: 1;
        transform: translate(-50%, 0);
    }

    &.line-red {

        hr {
            background-color: $redColor;
        }

    }
    
}
