.blog {

    &__inner {
        display: flex;
        flex-wrap: wrap;
        max-width: 970px;
        width: 100%;
        margin: 100px auto 0;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;

        &:nth-child(2) {
            margin-bottom: 40px;
        }

        &:hover {

            .blog__img {

                img {
                    opacity: .6;
                }
            }

            .btn.btn-dark {
                background: $redColor;
            }

        }
    }

    &__img {
        display: flex;
        width: 38%;

        img {
            display: block;
            max-width: 100%;
            height: auto;
            background: #fff;
            transition: all .2s linear;
        }
        
    }

    &__article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 59%;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 65%;
    }

    &__title {
        color: $blogTextColor;
        font-size: 20px;
        font-family: 'Raleway-SemiBold', sans-serif;
    }

    &__stat {
        color: $grayColor;
        font-size: 12px;
        font-family: 'Lato';

        i {
            margin: 0 3px 0 15px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__text {
        color: $darkGrayColor;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        text-align: justify;
    }

    &__footer {

        .btn.btn-dark {
            font-size: 16px;
            padding: 12px 15px;

            &:hover {
                background: $redColor;
            }
        }

    }

    &__bottom {
        width: 40px;
        height: 40px;
        color: #a2a2a2;
        font-size: 35px;
        line-height: 1;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 50%;
        background: #f2f2f2;
        transition: all .1s linear;
        cursor: pointer;
        padding: 3px 0;
        margin: 0 auto;

        &:hover {
            color: $redColor;
            border: 1px solid $redColor;
        }
    }

}