.clients {
    
    &__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 100px auto 0;
    }

    &__testimonials {
        width: 49%;
    }

    &__review {
        text-align: center;
        margin-bottom: 45px;

        &-title {
            color: #fff;
            font-size: 20px;
            font-family: 'Raleway-Light', sans-serif;
            text-transform: uppercase;
            margin-bottom: 35px;
        }

        &-text {
            color: $grayColor;
            font-size: 16px;
            font-family: 'Lato', sans-serif;
        }

    }

    &__profile {
        text-align: center;
        margin: 0 auto;

        &-photo {
            max-width: 100%;
            height: auto;
            margin-bottom: 12px;
        }

        &-title {
            display: block;
            color: $redColor;
            font-size: 16px;
            font-family: 'Raleway-Bold', sans-serif;
            text-transform: uppercase;
            margin-bottom: 28px;
        }

    }

    .swiper-pagination {
        bottom: -4px;

        &-bullet {
            display: inline-block;
            width: 8px;
            height: 8px;
            background: #fff;
            border-radius: 0;
            opacity: 1;
            cursor: pointer;
            transition: all .2s linear;
            margin: 0 5px 0 0 !important;
    
            &:last-child {
                margin-right: 0 !important;
            }

            &.swiper-pagination-bullet-active,
            &:hover {
                background: $redColor;
            }

            &:focus {
                outline: 0;
            }

        }
    
    }

    &__sponsors {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 49%;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__link {
        background: $redColor;
    }

    &__logo {
        display: flex;
        max-width: 270px;
        width: 100%;
        height: auto;
        opacity: 1;
        transition: all .2s linear;

        &:hover {
            opacity: .6;
        }        

    }

}