@mixin btn($fz: 20px, $bg: #000, $ptb: 15px, $plr: 35px) {
    color: #fff;
    font-size: $fz;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background-color: $bg;
    line-height: 1;
    padding: $ptb $plr;
}

@mixin section__title ($color: $blackColor) {
    color: $color;
    font-size: 30px;
    font-family: 'Raleway-Bold', sans-serif;
    text-transform: capitalize;
    margin-bottom: 30px;

    @media (max-width:1200px) {
        font-size: 26px;
        margin-bottom: 20px;
    }

    @media (max-width:991px) {
        font-size: 22px;
        margin-bottom: 14px;
    }

    @media (max-width:767px) {
        font-size: 30px;
        margin-bottom: 18px;
    }

    @media (max-width:575px) {
        font-size: 26px;
        margin-bottom: 14px;
    }

}

@mixin section__text ($color: $darkGrayColor, $ff: 'Lato-Bold', $mb: 0) {
    color: $color;
    font-size: 16px;
    font-family: $ff, sans-serif;
    line-height: 1.4;
    margin-bottom: $mb;

    @media (max-width:1200px) {
        font-size: 15px;
    }

    @media (max-width:991px) {
        font-size: 12px;
    }

    @media (max-width:767px) {
        font-size: 14px;
    }

    @media (max-width:575px) {
        font-size: 12px;
    }

}

@mixin ps-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}