.nav {
    width: 100%;
    position: fixed;
    background-color: #000;
    box-shadow: 0px 9px 40px -13px rgba(0, 0, 0, 0.75);
    transform: translate3d(0, 0, 0);
    z-index: 1000;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 65px;
    }

    &__logo {
        display: flex;
        align-self: flex-start;
        max-width: 245px;
    }

    &__img {
        max-width: 100%;
        height: auto;
    }

    &__menu {
        display: none;
    }

    &__close {
        display: none;
        font-size: 24px;
        color: #fff;
        background: #ffffff00;
        padding: 10px 10px 0 0;
        margin-left: auto;
    }
    
    &__list {
        display: block;
        max-width: 824px;
        text-transform: uppercase;
        list-style-type: none;

        &-item {
            display: inline-block;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }

        &-link,
        &-link:link {
            display: inline-block;
            position: relative;
            color: $grayColor;
            font-family: 'Raleway', sans-serif;
            font-size: 18px;

            &:hover,
            &:active,
            &.active {
                color: #fff;
            }

            &::after {
                content: "";
                display: block;
                opacity: 0;
                width: 30px;
                height: 3px;
                background-color: $redColor;
                position: absolute;
                top: 40px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                transition: all .2s linear;
            }

            &:hover::after,
            &:active::after,
            &.active::after {
                opacity: 1;
            }

        }

    }

    &__overlay {
        width: 0;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background: #000;
        transition: all .3s ease;
        opacity: 0.7;
    }

}