@media (max-width:1200px) {

    /* BASE */
    .section {
        padding: 70px 0;

        &--clients-bg {
            margin-top: 220px;
        }

    }

    .container {
        padding: 0 60px;
    }

    .section__header {
        max-width: 785px;
    }

    .line {

        hr {
            width: 400px;
            bottom: -79px;
        }

        .hexagon {
            width: 15px;
            bottom: -77px;
        }

    }

    /* NAVBAR */
    .nav {

        &__inner {
            height: 50px;
        }

        &__logo {
            max-width: 175px;
        }

        &__list {
            width: 601px;

            &-item {
                margin-right: 12px;
            }

            &-link,
            &-link:link {
                font-size: 15px;

                &::after {
                    height: 2px;
                    top: 31px;
                }
            }

        }
       
    }

    /* HEADER */
    .header {
        min-height: 640px;
        margin-bottom: -40px;

        .swiper-container {
            max-width: 770px;
        }    

        &__intro {
            max-width: 770px;
        }

        .section__header {
            padding: 0;
        }
    
        .section__text {
            margin-bottom: 30px;
        }

        .btn.btn-primary,
        .btn.btn-dark {
            font-size: 16px;
            padding: 12px 32px;
        }

        .btn.btn-primary {
            margin-right: 25px;
        }

        .slider {
            font-size: 35px;

            &--left {
                left: 30px;
            }

            &--right {
                right: 30px;
            }

        }

    }

    /* ABOUT */
    .about {

        &__info {
            max-width: 1000px;
            margin-top: 60px;

            &-text {
                width: 46%;

                &-p {
                    display: none;
                }

            }

            &-img {
                width: 45%;
            }

        }

        .accordion {
        
            &__header {
        
                &-title {
                    font-size: 18px;
                    margin-left: 30px;
                }

                i {
                    font-size: 15px;
                }
            }

            &__text {
                font-size: 13px;
                padding: 13px;
            }

        }

    }

    /* MAIN FEATURES */
    .main-features {
        max-width: 830px;

        &__item {
            width: 21%;
        }

        &__img,
        &__img-hover {
            width: 70px;
            min-width: 70px;
            min-height: 60px;
        }

        &__icon {
            margin-bottom: 22px;

            i {
                font-size: 24px;
            }

        }

        &__title {
            font-size: 18px;
            margin-bottom: 12px;
        }

        &__text {
            font-size: 14px;
        }

    }

    /* PORTFOLIO */
    .portfolio {

        &__ctgs {
            margin-bottom: 70px;
        }

        &__btn {
            font-size: 14px;
        }

        &__link {
            font-size: 30px;
            margin-bottom: 10px;
        }

        &__zoom-title {
            font-size: 16px;
        }

    }

    /* FEATURES */
    .features {

        &__inner {
            max-width: 875px;
            margin: 140px auto 0;
        }

        &__list.right {

            .features__title {
                margin-right: 10px;
            }
            
        }

        &__item {
            padding: 6px 12px;
            margin-bottom: 18px;
        }

        &__title {
            font-size: 15px;
            margin-left: 10px;
        }

        &__icon {

            i {
                font-size: 10px;
            }

        }

        &__box {
            max-width: 367px;
            top: -120px;

            .btn.btn-gray {
                top: 390px;
                font-size: 15px;
                padding: 10px 30px;
            }

        }

    }

    /* CLIENTS */
    .clients {

        &__info {
            max-width: 875px;
            margin-top: 70px;
        }

        &__review {
            margin-bottom: 25px;

            &-title {
                font-size: 16px;
                margin-bottom: 15px;
            }

            &-text {
                font-size: 14px;
            }

        }

        &__profile {

            &-photo {
                width: 55px;
                margin-bottom: 8px;
            }

            &-title {
                font-size: 13px;
                margin-bottom: 13px;
            }

        }

        .swiper-pagination-bullet {
            width: 6px;
            height: 6px;
        }

        &__link {
            width: 47%;
        }

    }

    /* TEAM */
    .team {
        
        &__inner {
            max-width: 872px;
            margin-top: 70px;
        }

        &__social {
            max-width: 120px;
        }

        &__link {

            i {
                font-size: 14px;
            }

        }

        &__hex,
        &__hex-hover {
            top: -16px;
        }

        &__name {
            font-size: 16px;
            margin: 20px 0 10px;
        }

        &__prof {
            font-size: 13px;
            margin-bottom: 20px;
        }

    }

    /* SKILLS */
    .skills {

        &__inner {
            max-width: 600px;
            margin-top: 70px;
        }

        &__percent {
            font-size: 30px;
        }

        &__title {
            font-size: 16px;
            margin: 16px 0 12px;
        }

        &__text {
            font-size: 14px;
        }

    }

    /* SERVICES */
    .services {

        &__inner {
            margin-top: 70px;
        }

        &__item {
            margin-bottom: 40px;
        }

        &__header {
            margin-bottom: 20px;
        }

        &__icon {
            margin-right: 22px;

            i {
                font-size: 20px;
            }

        }

        &__img,
        &__img-hover {
            width: 50px;
        }

        &__title {
            font-size: 16px;
        }

        &__footer {
            padding: 20px 10px 20px 28px;
        }

        &__text {
            font-size: 14px;
        }

    }

    /* PRICING */
    .pricing {

        &__inner {
            margin-top: 70px;
        }

        &__list {
            font-size: 12px;
        }

        &__name {
            font-size: 17px;
            padding: 8px 0;
        }

        &__price {
            font-size: 42px;
            padding: 12px 0;

            sub {
                font-size: 14px;
            }

        }

        &__info {
            padding: 10px 0;
        }

        .btn.btn-dark {
            font-size: 16px;
            padding: 8px 35px;
        }

    }

    /* SOCIAL */
    .social {

        &__inner {
            max-width: 595px;
        }

        &__icon {
            font-size: 32px;
            margin-bottom: 14px;
        }

        &__text {
            font-size: 14px;
        }

        &__bg-img {
            top: -8px;
            left: 20px;
            font-size: 155px;
        }

    }

    /* BLOG */
    .blog {

        &__inner {
            max-width: 800px;
            margin-top: 70px;
        }

        &__item {
            margin-bottom: 40px;
        }

        &__title {
            font-size: 18px;
        }

        &__stat {
            font-size: 10px;

            i {
                margin: 0 3px 0 12px;
            }

        }

        &__text {
            font-size: 13px;
        }

        .btn.btn-dark {
            font-size: 14px;
            padding: 10px 12px;
        }

        &__bottom {
            width: 30px;
            height: 30px;
            font-size: 25px;
        }

    }

    /* FOLLOW */
    .follow {
        padding: 70px 0;
        margin: -70px 0;

        &__inner {
            max-width: 330px;
            margin-top: 30px;
        }

        &__icon {
            margin-bottom: 20px;

            i {
                font-size: 15px;
            }

        }

        &__img,
        &__img-hover {
            width: 50px;
            height: 45px;
        }

        &__counter {
            font-size: 12px;
        }

    }

    /* CONTACT */
    .contact {
        margin-bottom: -70px;

        iframe {
            margin-top: 70px;
            height: 460px;
        }

        &__pin {
            width: 230px;
            bottom: 130px;
            font-size: 14px;
            padding: 25px 20px;

            &::after {
                right: 10px;
                border-width: 40px;
                transform: scaleX(0.26) skewX(-70deg);
            }
        }

        &__form {
            width: 380px;
            left: 50%;
            padding: 30px 25px;
        }

        &__header {
            font-size: 16px;
            margin-bottom: 30px;
        }

        &__input {
            font-size: 14px;
            padding: 5px 12px;
            margin-bottom: 14px
        }

        textarea {
            margin-bottom: 18px;
        }

        .btn.btn-dark {
            font-size: 14px;
            padding: 10px 24px;
        }

    }

    /* FOOTER */
    .footer {
        padding: 0 25px;

        &__logo {
            max-width: 100px;
        }

        &__text {
            font-size: 14px;
            padding: 20px 0;
        }

    }

}

@media (max-width:991px) {

    /* BASE */
    .section {
        padding: 50px 0;

        &--clients-bg {
            margin-top: 160px;
        }

    }

    .container {
        padding: 0 50px;
    }

    .section__header {
        max-width: 625px;
    }

    .line {

        hr {
            width: 300px;
            bottom: -59px;
        }

        .hexagon {
            width: 13px;
            bottom: -56px;
        }

    }

    /* NAVBAR */
    .nav {

        &__inner {
            height: 40px;
        }

        &__logo {
            max-width: 130px;
        }

        &__list {
            max-width: 489px;

            &-item {
                margin-right: 10px;
            }

            &-link,
            &-link:link {
                font-size: 12px;

                &::after {
                    width: 20px;
                    top: 23px;
                }
            }

        }

    }

    /* HEADER */
    .header {
        min-height: 500px;

        .section__text {
            margin-bottom: 20px;
        }

        .swiper-container {
            max-width: 510px;
        }    

        &__intro {
            max-width: 510px;
        }

        .btn.btn-primary,
        .btn.btn-dark {
            font-size: 14px;
            padding: 10px 28px;
        }

        .btn.btn-primary {
            margin-right: 20px;
        }

        .slider {
            font-size: 25px;

            &--left {
                left: 20px;
            }
    
            &--right {
                right: 20px;
            }

        }

    }

    /* ABOUT */
    .about {

        &__info {
            max-width: 450px;
            margin-top: 50px;

            &-text {
                width: 100%;

                .accordion {
                    margin-bottom: 8px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &__header {
                        padding: 8px 16px;
                    
                        &-title {
                            font-size: 16px;
                            margin-left: 20px;
                        }

                        i {
                            font-size: 12px;
                        }

                    }

                    &__text {
                        font-size: 12px;
                        padding: 12px;
                    }

                }

            }

            &-img {
                display: none;
            }

        }

    }

    /* MAIN FEATURES */
    .main-features {
        max-width: 600px;

        &__item {
            width: 22%;
            max-height: 135px;
            overflow: hidden;
        }

        &__icon {
            margin-bottom: 14px;

            i {
                font-size: 20px;
            }

        }

        &__img,
        &__img-hover {
            width: 60px;
            min-width: 60px;
            min-height: 52px;
        }

        &__title {
            font-size: 14px;
            margin-bottom: 8px;
        }

        &__text {
            font-size: 12px;
        }

    }

    /* PORTFOLIO */
    .portfolio {

        &__ctgs {
            margin-bottom: 50px;
        }

        &__btn {
            font-size: 12px;
            margin-right: 14px;
        }

        &__zoom {

            &-title {
                font-size: 14px;
            }

        }

        &__link {
            font-size: 24px;
            margin-bottom: 5px;
        }

    }

    /* FEATURES */
    .features {

        &__inner {
            max-width: 668px;
        }

        &__list.right {

            .features__title {
                margin-right: 6px;
            }

        }

        &__item {
            max-width: 215px;
            padding: 5px 8px;
            margin-bottom: 12px;
        }

        &__title {
            font-size: 12px;
            margin-left: 6px;
        }

        &__icon {

            i {
                font-size: 9px;
            }

        }

        &__box {
            max-width: 280px;
            top: -95px;

            .btn.btn-gray {
                top: 300px;
                font-size: 12px;
                padding: 8px 24px;
            }

        }

    }

    /* CLIENTS */
    .clients {

        &__info {
            max-width: 670px;
            margin-top: 50px;
        }

        &__testimonials {
            width: 48%;
        }

        &__review {
            margin-bottom: 16px;

            &-title {
                font-size: 14px;
                margin-bottom: 8px;
            }

            &-text {
                font-size: 12px;
            }

        }

        &__profile {

            &-photo {
                width: 40px;
                margin-bottom: 0;
            }

            &-title {
                font-size: 10px;
                margin-bottom: 10px;
            }

        }

        .swiper-pagination-bullet {
            width: 5px;
            height: 5px;
        }

    }

    /* TEAM */
    .team {

        &__inner {
            max-width: 670px;
            margin-top: 50px;
        }

        &__social {
            max-width: 90px;
        }

        &__link {

            i {
                font-size: 12px;
            }

        }

        &__hex,
        &__hex-hover {
            top: -12px;
        }

        &__name {
            font-size: 14px;
            margin: 14px 0 6px;
        }

        &__prof {
            font-size: 11px;
            margin-bottom: 14px;
        }

    }

    /* SKILLS */
    .skills {

        &__inner {
            max-width: 500px;
            margin-top: 50px;
        }

        &__percent {
            font-size: 26px;
        }

        &__title {
            font-size: 14px;
            margin: 12px 0 8px;
        }

        &__text {
            font-size: 12px;
        }

    }

    /* SERVICES */
    .services {
        margin: 0 auto;

        &__inner {
            margin-top: 50px;
        }

        &__item {
            margin-bottom: 34px;
        }

        &__header {
            margin-bottom: 16px;
        }

        &__icon {
            margin-right: 16px;

            i {
                font-size: 16px;
            }

        }

        &__img,
        &__img-hover {
            width: 38px;
        }

        &__title {
            font-size: 14px;
        }

        &__footer {
            padding: 16px 8px 16px 24px;
        }

        &__text {
            font-size: 12px;
        }

    }

    /* PRICING */
    .pricing {

        &__inner {
            margin-top: 50px;
        }

        &__list {
            font-size: 10px;
        }

        &__name {
            font-size: 13px;
            padding: 6px 0;
        }

        &__price {
            font-size: 30px;
            padding: 8px 0;

            sub {
                font-size: 10px;
            }

        }

        &__info {
            padding: 8px 0;
        }

        .btn.btn-dark {
            font-size: 13px;
            padding: 6px 28px;
        }

    }

    /* SOCIAL */
    .social {

        &__inner {
            max-width: 390px;
        }

        &__icon {
            font-size: 28px;
            margin-bottom: 10px;
        }

        &__text {
            font-size: 12px;
        }

        &__bg-img {
            top: -3px;
            left: 14px;
            font-size: 120px;
        }

    }

    /* BLOG */
    .blog {

        &__inner {
            max-width: 650px;
            margin-top: 50px;
        }

        &__item {
            margin-bottom: 30px;
        }

        &__header {
            height: 68%;
        }

        &__title {
            font-size: 16px;
        }

        &__stat {
            font-size: 8px;

            i {
                margin: 0 0 0 12px;
            }

        }

        &__text {
            font-size: 11px;
        }

        .btn.btn-dark {
            font-size: 12px;
            padding: 8px 10px;
        }

        &__bottom {
            width: 24px;
            height: 24px;
            font-size: 20px;
        }

    }

    /* FOLLOW */
    .follow {
        padding: 50px 0;
        margin: -50px 0;

        &__inner {
            max-width: 290px;
            margin-top: 24px;
        }

        &__icon {
            margin-bottom: 14px;

            i {
                font-size: 12px;
            }

        }

        &__img,
        &__img-hover {
            width: 45px;
            height: 40px;
        }

        &__counter {
            font-size: 10px;
        }

    }

    /* CONTACT */
    .contact {
        margin-bottom: -50px;

        iframe {
            margin-top: 50px;
            height: 360px;
        }

        &__pin {
            width: 200px;
            font-size: 12px;
            padding: 18px 16px;

            &::after {
                right: 6px;
                border-width: 30px;
                transform: scaleX(0.26) skewX(-70deg);
            }
        }

        &__form {
            width: 300px;
            padding: 24px 20px;
        }

        &__header {
            font-size: 14px;
            margin-bottom: 20px;
        }

        &__input {
            font-size: 12px;
            padding: 3px 10px;
            margin-bottom: 12px
        }

        textarea {
            margin-bottom: 10px;
        }

        .btn.btn-dark {
            font-size: 12px;
            padding: 8px 20px;
        }

    }

    /* FOOTER */
    .footer {
        padding: 0 15px;

        &__logo {
            max-width: 80px;
        }

        &__text {
            font-size: 12px;
            padding: 16px 0;
        }

    }

}

@media (max-width:767px) {

    /* BASE */
    html, body {
        width: auto;
        overflow-x: hidden;
    }

    .section {
        padding: 60px 0;

        &--clients-bg {
            margin-top: 0;
        }

    }

    .container {
        padding: 0 40px;
    }

    .section__header {
        max-width: 465px;
    }

    .line {

        hr {
            width: 300px;
            bottom: -69px;
        }

        .hexagon {
            width: 14px;
            bottom: -66px;
        }

    }

    /* NAVBAR */
    .nav {
        display: block;
        background: #000;

        &__inner {
            display: block;
            height: auto;
        }

        &__logo {
            max-width: 100%;
            justify-content: space-between;
            align-items: center;

            a {
                display: flex;
            }

        }

        &__img {
            max-width: 140px;
        }

        &__menu {
            display: inline-block;
            color: #fff;
            background: transparent;
            font-size: 24px;
        }

        &__close {
            display: flex;
        }    

        &__list {
            position: fixed;
            max-width: none;
            width: 0;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: 1;
            overflow-x: hidden;
            transition: all .2s linear;
            background: #000;

            &.open {
                width: 300px;
                z-index: 1020;
            }

            &-item {
                display: block;
                margin: 0;
            }

            &-link,
            &-link:link {
                display: block;
                font-size: 16px;
                white-space: nowrap;
                padding: 10px 20px;

                &::after {
                    width: 30px;
                    top: 32px;
                    left: 21px;
                    transform: translateX(0);
                }
            }

        }

    }

    /* HEADER */
    .header {

        .section__header {
            max-width: 445px;
        }

        .section__text {
            margin-bottom: 30px;
        }

        .swiper-container {
            max-width: 410px;
        }    

        &__intro {
            max-width: 410px;
        }

        .btn.btn-primary,
        .btn.btn-dark {
            font-size: 16px;
            padding: 12px 30px;
        }

        .btn.btn-primary {
            margin-right: 25px;
        }

        .slider {
            font-size: 35px;
        }

    }

    /* ABOUT */
    .about {

        &__info {
            max-width: 496px;
            margin-top: 60px;

            &-text {
                width: 100%;

                .accordion {
                    margin-bottom: 12px;

                    &__header {
                        padding: 10px 20px;
                    
                        &-title {
                            font-size: 20px;
                            margin-left: 30px;
                        }

                        i {
                            font-size: 16px;
                        }

                    }

                    &__text {
                        font-size: 14px;
                        padding: 16px;
                    }

                }

            }

            &-img {
                display: none;
            }

        }

    }

    /* MAIN FEATURES */
    .main-features {
        max-width: 496px;

        &__item {
            width: 46%;
            max-height: none;
            margin-bottom: 38px;

            &:nth-child(3),
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__icon {
            margin-bottom: 18px;

            i {
                font-size: 26px;
            }

        }

        &__img,
        &__img-hover {
            width: 70px;
            min-width: 70px;
            min-height: 60px;
        }

        &__title {
            font-size: 16px;
            margin-bottom: 12px;
        }

        &__text {
            font-size: 14px;
        }

    }

    /* PORTFOLIO */
    .portfolio {

        &__ctgs {
            margin-bottom: 60px;
        }

        &__btn {
            font-size: 15px;
            margin-right: 20px;
        }

        &__col {
            flex-wrap: wrap;
            justify-content: center;

            &:first-child {

                .portfolio__box:last-child {
                    flex-direction: row-reverse;
                }

            }

            &:last-child {

                .portfolio__box:first-child {
                    flex-direction: row-reverse;
                }

                .portfolio__box:last-child {
                    flex-direction: row;
                }

            }
        }

        &__box {
            display: flex;
            width: 100%;
        }

        &__item {
            width: 57%;

            &--sm {
                width: 43%;
            }

        }

        &__img {
            width: 100%;
        }

        &__zoom {

            &-title {
                font-size: 18px;
            }

        }

        &__link {
            font-size: 34px;
            margin-bottom: 15px;
        }

    }

    /* FEATURES */
    .features {

        &__inner {
            max-width: 496px;
            margin-top: 570px;
        }

        &__list.right {

            .features__title {
                margin-right: 8px;
            }

        }

        &__item {
            max-width: 240px;
            padding: 8px 12px;
            margin-bottom: 20px;
        }

        &__title {
            font-size: 13px;
            margin-left: 8px;
        }

        &__box {
            max-width: 380px;
            top: -560px;

            .btn.btn-gray {
                top: 400px;
                font-size: 16px;
                padding: 12px 28px;
            }

        }

    }

    /* CLIENTS */
    .clients {

        &__info {
            max-width: 496px;
            flex-direction: column-reverse;
            margin-top: 60px;
        }

        &__testimonials {
            width: 100%;
        }

        &__review {
            margin-bottom: 30px;

            &-title {
                font-size: 18px;
                margin-bottom: 22px;
            }

            &-text {
                font-size: 14px;
            }

        }

        &__profile {

            &-photo {
                width: 60px;
                margin-bottom: 10px;
            }

            &-title {
                font-size: 13px;
                margin-bottom: 18px;
            }

        }

        .swiper-pagination-bullet {
            width: 7px;
            height: 7px;
        }

        &__sponsors {
            width: 100%;
            margin-bottom: 60px;
        }

        &__item {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

    }

    /* TEAM */
    .team {

        &__inner {
            max-width: 496px;
            margin-top: 60px;
        }

        &__item {
            width: 47%;
            margin-bottom: 30px;

            &:nth-child(3),
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__social {
            max-width: 130px;
        }

        &__link {

            i {
                font-size: 16px;
            }

        }

        &__hex,
        &__hex-hover {
            top: -16px;
        }

        &__name {
            font-size: 16px;
            margin: 18px 0 8px;
        }

        &__prof {
            font-size: 13px;
            margin-bottom: 18px;
        }

    }

    /* SKILLS */
    .skills {

        &__inner {
            max-width: 370px;
            margin-top: 60px;
        }

        &__item {
            width: 45%;
            margin-bottom: 40px;

            &:nth-child(3),
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__percent {
            font-size: 36px;
        }

        &__title {
            font-size: 18px;
            margin: 16px 0 10px;
        }

        &__text {
            font-size: 14px;
        }

    }

    /* SERVICES */
    .services {
        max-width: 496px;

        &__inner {
            margin-top: 60px;
        }

        &__item {
            width: 100%;
            margin-bottom: 40px;

            &:nth-child(5) {
                margin-bottom: 40px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__header {
            margin-bottom: 18px;
        }

        &__icon {
            margin-right: 24px;

            i {
                font-size: 18px;
            }

        }

        &__img,
        &__img-hover {
            width: 50px;
        }

        &__title {
            font-size: 16px;
        }

        &__footer {
            padding: 18px 10px 18px 26px;
        }

        &__text {
            font-size: 14px;
        }

    }

    /* PRICING */
    .pricing {

        &__inner {
            max-width: 496px;
            margin-top: 60px;
        }

        &__table {
            width: 46%;
            margin-bottom: 40px;

            &:nth-child(3),
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__list {
            font-size: 12px;
        }

        &__name {
            font-size: 16px;
            padding: 10px 0;
        }

        &__price {
            font-size: 36px;
            padding: 8px 0;

            sub {
                font-size: 12px;
            }

        }

        &__info {
            padding: 12px 0;
        }

        .btn.btn-dark {
            font-size: 15px;
            padding: 10px 44px;
        }

    }

    /* SOCIAL */
    .social {

        &__inner {
            max-width: 518px;
        }

        &__icon {
            position: relative;
            font-size: 34px;
            z-index: 1;
            margin-bottom: 12px;
        }

        &__text {
            position: relative;
            font-size: 13px;
            z-index: 1;
        }

        &__bg-img {
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 230px;
            opacity: .3;
        }

    }

    /* BLOG */
    .blog {

        &__inner {
            max-width: 496px;
            margin-top: 60px;
        }

        &__item {
            flex-direction: column;
            margin-bottom: 50px;
        }

        &__img {
            width: 100%;
            justify-content: center;
            margin-bottom: 16px;

            img {
                max-width: none;
                width: 100%;
            }

        }

        &__article {
            width: 100%;
        }

        &__header {
            height: auto;
            margin-bottom: 16px;
        }

        &__title {
            font-size: 18px;
            margin-bottom: 8px;
        }

        &__stat {
            font-size: 11px;
            margin-bottom: 8px;

            i {
                margin: 0 1px 0 14px;
            }

        }

        &__text {
            font-size: 14px;
        }

        .btn.btn-dark {
            font-size: 14px;
            padding: 12px 14px;
        }

        &__bottom {
            width: 30px;
            height: 30px;
            font-size: 24px;
        }

    }

    /* FOLLOW */
    .follow {
        padding: 60px 0;
        margin: -60px 0;

        &__inner {
            max-width: 395px;
            margin-top: 40px;
        }

        &__icon {
            margin-bottom: 24px;

            i {
                font-size: 18px;
            }

        }

        &__img,
        &__img-hover {
            width: 63px;
            height: 55px;
        }

        &__counter {
            font-size: 14px;
        }

    }

    /* CONTACT */
    .contact {
        margin-bottom: -60px;

        iframe {
            margin-top: 60px;
            height: 720px;
        }

        &__pin {
            width: 220px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 540px;
            font-size: 14px;
            padding: 24px 20px;

            &::after {
                right: 10px;
                border-width: 35px;
                transform: scaleX(0.3) skewX(-67deg);
            }
        }

        &__form {
            width: 340px;
            left: 50%;
            transform: translateX(-50%);
            padding: 30px;
        }

        &__header {
            font-size: 16px;
            margin-bottom: 30px;
        }

        &__input {
            font-size: 14px;
            padding: 5px 12px;
        }

        textarea {
            height: 120px;
            margin-bottom: 15px;
        }

        .btn.btn-dark {
            font-size: 14px;
            padding: 10px 26px;
        }

    }

    /* FOOTER */
    .footer {
        justify-content: center;

        &__logo {
            max-width: 120px;
            top: 35%;
        }

        &__text {
            font-size: 12px;
            padding: 50px 0 20px;
        }

    }

}

@media (max-width:575px)and(min-width:400px) {

    /* MAIN FEATURES */
    .main-features {

        &__item {
            width: 45% !important;

            &:nth-child(3) {
                margin-bottom: 0 !important;
            }
        }

    }

    /* CLIENTS */
    .clients {

        &__info {
            max-width: none !important;
        }

        &__item {
            justify-content: inherit !important;
            margin-bottom: 26px !important;

            &:last-child {
                margin-bottom: 0 !important;
            }
        }

        &__link {
            width: 47% !important;
            margin-bottom: 0 !important;
        }

    }

    /* SKILLS */
    .skills {

        &__inner {
            max-width: 360px !important;
            flex-direction: row !important;
        }

        &__item {
            width: 45% !important;
            margin-bottom: 40px !important;

            &:nth-child(3),
            &:last-child {
                margin-bottom: 0 !important;
            }
        }

        &__progress-bar {
            max-width: none !important;
        }

    }

    /* FOLLOW */
    .follow {

        &__inner {
            max-width: 190px !important;
        }

        &__item {
            width: 45% !important;

            &:nth-child(3),
            &:last-child {
                margin-bottom: 0;
            }
        }

    }

}

@media (max-width:575px) {

    /* BASE */
    .section {
        padding: 40px 0;

        &--clients-bg {
            margin-top: 0;
        }

    }

    .container {
        padding: 0 20px;
    }

    .line {

        hr {
            width: 230px;
            bottom: -49px;
        }

        .hexagon {
            width: 12px;
            bottom: -46px;
        }

    }

    /* NAVBAR */
    .nav {

        &__img {
            max-width: 100px;
        }

        &__menu {
            font-size: 20px;
        }

        &__list {

            &.open {
                width: 70%;
            }

            &-link,
            &-link:link {
                font-size: 14px;

                &::after {
                    width: 25px;
                }
            }

        }

    }

    /* HEADER */
    .header {

        .swiper-container {
            max-width: 410px;
        }

        &__intro {
            max-width: 100%;
        }

        .section__header {
            max-width: 455px;
        }

        .section__text {
            max-width: 90%;
            font-size: 13px;
            margin: 0 auto 20px;
        }

        &__hide {
            display: none;
        }

        .btn.btn-primary
        .btn.btn-dark {
            font-size: 13px;
            padding: 10px 22px;
        }

        .btn.btn-primary {
            margin-right: 20px;
        }

        .slider {
            font-size: 30px;

            &--left {
                left: 10px;
            }
    
            &--right {
                right: 10px;
            }

        }

    }

    /* ABOUT */
    .about {

        &__info {
            max-width: none;
            margin-top: 40px;

            &-text {

                .accordion {

                    &__header {
                        padding: 8px 16px;
                    
                        &-title {
                            font-size: 18px;
                            margin-left: 20px;
                        }

                        i {
                            font-size: 14px;
                        }

                    }

                    &__text {
                        font-size: 13px;
                        padding: 14px;
                    }

                }

            }

        }

    }

    /* MAIN FEATURES */
    .main-features {

        &__item {
            max-width: 250px;
            width: 100%;
            margin: 0 auto 30px;

            &:nth-child(3) {
                margin-bottom: 30px;
            }
        }

        &__icon {
            margin-bottom: 16px;

            i {
                font-size: 22px;
            }

        }

        &__img,
        &__img-hover {
            width: 60px;
            min-width: 60px;
            min-height: 52px;
        }

        &__title {
            font-size: 14px;
            margin-bottom: 8px;
        }

        &__text {
            font-size: 13px;
        }

    }

    /* PORTFOLIO */
    .portfolio {

        &__ctgs {
            margin-bottom: 40px;
        }

        &__btn {
            font-size: 12px;
            margin-right: 14px;
        }

        &__zoom {

            &-title {
                font-size: 16px;
            }

        }

        &__link {
            font-size: 26px;
            margin-bottom: 10px;
        }

    }

    /* FEATURES */
    .features {

        &__inner {
            flex-direction: column-reverse;
            align-items: center;
            max-width: 280px;
            margin-top: 410px;
        }

        &__list.right {
            margin-bottom: 0;

            .features__item {
                flex-direction: row-reverse;
                text-align: left;
            }

            .features__title {
                margin-left: 8px;
                margin-right: 0;
            }

        }

        &__list {
            width: 100%;
            margin-bottom: 16px;
        }

        &__item {
            max-width: none;
            padding: 6px 12px;
            margin-bottom: 14px;
        }

        &__box {
            max-width: 280px;
            top: -410px;

            .btn.btn-gray {
                top: 290px;
                font-size: 14px;
                padding: 12px 26px;
            }

        }

    }

    /* CLIENTS */
    .clients {

        &__info {
            margin-top: 40px;
        }

        &__review {
            margin-bottom: 26px;

            &-title {
                font-size: 16px;
                margin-bottom: 18px;
            }

            &-text {
                font-size: 13px;
            }

        }

        &__profile {

            &-photo {
                width: 55px;
                margin-bottom: 8px;
            }

            &-title {
                font-size: 12px;
                margin-bottom: 18px;
            }

        }

        &__sponsors {
            margin-bottom: 40px;
        }

        &__item {
            justify-content: center;
            margin-bottom: 0;

            &:last-child {
                
                .clients__link:last-child {
                    margin-bottom: 0;
                }

            }
        }

        &__link {
            width: 225px;
            margin-bottom: 22px;
        }

        &__logo {
            max-width: none;
        }

    }

    /* TEAM */
    .team {

        &__inner {
            justify-content: center;
            margin-top: 40px;
        }

        &__item {
            max-width: 270px;
            width: 100%;

            &:nth-child(3) {
                margin-bottom: 30px;
            }
        }

        &__social {
            max-width: 160px;
        }

        &__link {

            i {
                font-size: 18px;
            }

        }

        &__hex,
        &__hex-hover {
            top: -19px;
        }

        &__name {
            font-size: 18px;
            margin: 22px 0 12px;
        }

        &__prof {
            font-size: 15px;
            margin-bottom: 22px;
        }

    }

    /* SKILLS */
    .skills {

        &__inner {
            flex-direction: column;
            max-width: 187px;
            margin-top: 40px;
        }

        &__item {
            width: 100%;
            margin-bottom: 30px;

            &:nth-child(3) {
                margin-bottom: 30px;
            }
        }

        &__progress-bar {
            max-width: 130px;
            margin: 0 auto;
        }

        &__percent {
            font-size: 34px;
        }

        &__title {
            font-size: 17px;
            margin: 14px 0 8px;
        }

    }

    /* SERVICES */
    .services {
        max-width: none;

        &__inner {
            margin-top: 40px;
        }

        &__item {
            margin-bottom: 30px;

            &:nth-child(5) {
                margin-bottom: 30px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__header {
            margin-bottom: 14px;
        }

        &__icon {
            margin-right: 20px;

            i {
                font-size: 16px;
            }

        }

        &__img,
        &__img-hover {
            width: 40px;
        }

        &__title {
            font-size: 14px;
        }

        &__footer {
            padding: 14px 10px 14px 20px;
        }

        &__text {
            font-size: 13px;
        }

    }

    /* PRICING */
    .pricing {

        &__inner {
            max-width: 250px;
            margin-top: 40px;
        }

        &__table {
            width: 100%;
            margin-bottom: 30px;

            &:nth-child(3) {
                margin-bottom: 30px;
            }
        }

        &__name {
            font-size: 15px;
        }

        &__price {
            font-size: 34px;
            padding: 6px 0;
        }

        &__info {
            padding: 10px 0;
        }

    }

    /* SOCIAL */
    .social {

        &__inner {
            max-width: 385px;
        }

        &__icon {
            font-size: 32px;
            margin-bottom: 8px;
        }

        &__text {
            font-size: 12px;
        }

        &__bg-img {
            font-size: 180px;
        }

    }

    /* BLOG */
    .blog {

        &__inner {
            max-width: 370px;
            margin-top: 40px;
        }

        &__item {
            margin-bottom: 35px;

            &:nth-child(2) {
                margin-bottom: 30px;
            }
        }

        &__img {
            margin-bottom: 12px;
        }

        &__header {
            margin-bottom: 12px;
        }

        &__title {
            font-size: 16px;
            margin-bottom: 5px;
        }

        &__stat {
            margin-bottom: 5px;
        }

        &__text {
            font-size: 13px;
        }

        .btn.btn-dark {
            font-size: 12px;
            letter-spacing: 0.4px;
        }

    }

    /* FOLLOW */
    .follow {
        padding: 40px 0;
        margin: -40px 0;

        &__inner {
            max-width: 70px;
            margin-top: 30px;
        }

        &__item {
            width: 100%;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__icon {
            margin-bottom: 12px;

            i {
                font-size: 20px;
            }

        }

        &__img,
        &__img-hover {
            width: 70px;
            height: 60px;
        }

        &__counter {
            font-size: 15px;
        }

    }

    /* CONTACT */
    .contact {
        margin-bottom: -40px;

        iframe {
            margin-top: 40px;
            height: 700px;
        }

        &__pin {
            width: 180px;
            font-size: 12px;
            padding: 20px 16px;

            &::after {
                border-width: 30px;
                transform: scaleX(0.28) skewX(-67deg);
            }
        }

        &__form {
            max-width: 330px;
            width: 86%;
            padding: 25px;
        }

        &__header {
            font-size: 14px;
            margin-bottom: 25px;
        }

        &__input {
            font-size: 13px;
            padding: 6px 10px;
        }

        .btn.btn-dark {
            font-size: 13px;
            letter-spacing: .3px;
        }

    }

    /* FOOTER */
    .footer {
        justify-content: center;
        padding: 0 15px;

        &__logo {
            max-width: 100px;
            top: 32%;
        }

        &__text {
            font-size: 12px;
            padding: 40px 0 14px;
        }

    }

}

@media (max-width:340px) {

    /* HEADER */
    .header {

        &__intro {
            display: flex;
            flex-direction: column;
        }

        .btn.btn-primary,
        .btn.btn-dark {
            align-self: center;
        }

        .btn.btn-primary {
            margin: 0 0 20px 0;
        }

    }

}