.skills {

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 770px;
        width: 100%;
        margin: 100px auto 0;
    }

    &__item {
        width: 20%;
        text-align: center;
    }

    &__progress-bar {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__img {
        max-width: 100%;
        height: auto;
    }

    &__percent {
        @include ps-centered;
        color: #000;
        font-size: 40px;
        font-family: 'Lato', sans-serif;
    }

    &__title {
        color: $blackColor;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        margin: 20px 0 18px;
    }

    &__text {
        color: $darkGrayColor;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
    }
    
}