.social {
    position: relative;

    &__inner {
        max-width: 645px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    &__icon {
        color: $redColor;
        font-size: 38px;
        margin-bottom: 20px;
    }

    &__text {
        color: #fff;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
    }

    &__bg-img {
        position: absolute;
        top: -17px;
        left: 30px;
        transform: rotate(-20deg);
        color: #3d3d3d;
        font-size: 210px;
        overflow: hidden;
    }
}