.team {

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 100px auto 0;
    }

    &__item {
        width: 23%;
        text-align: center;

        &:hover {

            .team__img {
                opacity: 0;
            }

            .team__social {
                opacity: 1;
            }

            .team__footer {
                border-color: $blackColor;
            }

            .team__name {
                color: $redColor;
            }

        }
    }

    &__person {
        display: flex;
        justify-content: center;
        position: relative;
        background: $blackColor;
        transition: all .2s linear;
    }

    &__social {
        @include ps-centered;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        max-width: 155px;
        width: 100%;
        transition: all .2s linear;
    }

    &__link {
        display: flex !important;
        max-width: 45px;
        width: 29%;
        position: relative;
        color: $redColor;
        font-size: 22px;

        i {
            @include ps-centered;
            font-size: 18px;
        }

        &:hover {

            .team__hex {
                opacity: 0;
            }

            .team__hex-hover {
                opacity: 1;
            }

        }
    }

    &__hex,
    &__hex-hover {
        display: flex;
        position: absolute;
        top: -20px;
        width: 100%;
        height: auto;
        transition: all .2s linear;
    }

    &__hex {
        opacity: 1;

        &-hover {
            opacity: 0;
        }

    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
        transition: all .2s linear;
    }

    &__footer {
        border: 1px solid $borderColor;
        transition: all .2s linear;
    }

    &__name {
        color: $blackColor;
        font-size: 20px;
        font-family: 'Raleway-Medium', sans-serif;
        text-transform: uppercase;
        transition: all .2s linear;
        margin: 25px 0 15px;
    }

    &__prof {
        color: $darkGrayColor;
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        margin-bottom: 35px;
    }

}